{% extends "base.html" %}
{% load ticketing_filters %}
{% load staticfiles %}

{% block title %}
  Great Burlesque Exposition 
{% endblock %}

{% block content %}

<H3>Ticket Purchase Options for the Great Burlesque Expo 2015</H3>
{% if user.is_authenticated %}
    Welcome, {{ user.profile.display_name }}! <br><br>
{% endif %}
 
Thanks for your interest in the Great Burlesque Expo.
Below are the ticket options available for purchase.  
There are many ways you can be a part of the convention, so
please read the descriptions carefully.
<br>

<table>

{% for item in ticket_items %}
{% if item.active %}
<tr><td>
    <img src= "{% static "img/divider.png" %}" alt="---"/>  
    </td>
</tr>

<tr valign="top">
    <th align="left"> {{ item.title }} </th>
    <td align=\"right\"> ${{ item.cost|floatformat:2 }} </td>
</tr>
<tr valign="top">
    <td align=\"left\" colspan=2> {{ item.description }} </td>
</tr>
<tr valign="top">
</tr>
    <td align=\"left\" colspan=2> &nbsp </td>
<tr valign="top">
    <td align="left" colspan=2>
    <a href="http://www.brownpapertickets.com/event/ID-{{ user_id }}/{{ item.ticket_id|bpt_event }}/" target="_blank">
    Purchase {{ item.title }} from Brown Paper Tickets
    </a>
    </td>
</tr>    

{% endif %}
{% endfor %}

<tr><td>
    <img src= "{% static "img/divider.png" %}" alt="---"/> 
    </td>
</tr>
</table>



{% endblock %}
