{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
  Great Burlesque Exposition 
{% endblock %}
{% block content %}

Your are editing ticket item:  {{ item_id }}

<form action="" method="post">
{% csrf_token %}
<table>
{{ form }}
</table>
<br>
<input type="submit" value="Save Ticket Item"> 
</form>

{% endblock %}



