{% extends "base.tmpl" %}
{% load staticfiles %}
{% block title %}
  Great Burlesque Exposition 
{% endblock %}
{% block content %}
<h2 class="subtitle">Edit Ticket Items</h2>
<p class="font_large">Click on a type of ticket to edit or delete it, or click
the button below to add.</p>
<p class="hint">
Note:  The Show to Public flag below indicates of the ticket item is displayed
to end users.  By default it is "false".</p><br>
<p class="font_large">To add a new ticket item,
<a href={% url 'ticketing:ticket_item_edit' %}> click here</a>.
</p>
<p class="font_large">To add a new event,
<a href={% url 'ticketing:bptevent_edit' %}> click here</a>.
</p>
<table class="ticketing">
  <tr class="header ticketing">
    <th class="ticketing">&nbsp;</th>
    <th class="ticketing">Event #</th>
    <th class="ticketing">Type of Event</th>
    <th class="ticketing">Connected Expo Content</th>
    <th class="ticketing">Make a Badge</th>
    <th class="ticketing">Registration Details</th>
  </tr>
{% for event in events %}
  <tr class="dark_row ticketing">
    <td class="ticketing">+</td>
    <td class="ticketing"><a href="{% url 'ticketing:bptevent_edit' event.id %}">{{event}}</a></td>
    <td class="ticketing">{{event.primary}}</td>
    <td class="ticketing">{{event.include_conference}}</td>
    <td class="ticketing">{{event.badgeable}}</td>
    <td class="ticketing">{{event.ticket_style}}</td>
  </tr>
  <tr>
    <td colspan=2>&nbsp;</td>
    <td colspan=4>
<table>
{% for item in event.ticketitems.all %}
<tr {% if item.active %}class="visible"{% endif %}>    
  <td>
  <a href="{% url 'ticketing:ticket_item_edit' item.id %}">{{item.ticket_id}}</a>
  </td>
  <td>{{ item.title | safe }}</td>
  <td>{{ item.description | safe | truncatechars:100 }}</td>
  <td>{% if item.active %}Visible{% else %}Hidden{% endif %}</td>
  <td>${{ item.cost }}</td>
  <td>{{ item.modified_by }}</td>
  <td>{{ item.datestamp }}</td>
<tr>   
{% endfor %}  
</table>
    </td>
  </tr>
{% endfor %}   
</table>

<br>

<form method="POST" action={% url 'ticketing:ticket_items' %} enctype="multipart/form-data">
{% csrf_token %}
    <input type="hidden" name="Import" value="1">
    <input type="submit" value="Synchronize with Brown Paper Tickets"> 
</form>

{% endblock %}
