# Git ignore directives

db.sqlite3        #  ignore sqlite db
*~                #  ignore emacs temp files
*.py[cod]         #  ignore compiled python files

*.pyc

*.py~

*.sqlite3

*.pyc

*.css~


expo/expo/settings.pyc

expo/uploads/*

expo/expo/__init__.pyc

expo/gbe/templates/gbe/GBE2.komodoproject
