# Git ignore directives

db.sqlite3
*~
*.py[cod]
*#
*.pyc

*.py~

*.sqlite3

*.pyc

*.css~

expo/gbe/static/img/GBE_PageBanner.png

expo/expo/settings.pyc

expo/uploads/*

expo/expo/__init__.pyc

expo/gbe/templates/gbe/GBE2.komodoproject

Text-1.txt

*.sqlplite3

*.txt

expo/performer.json

expo/profilesinherit.json

expo/db.sqlite3.preactitem

expo/expo/localsettings.py


expo/expo/local_settings.py

*.zip

*.bettytest
