{% extends 'base.html' %}

{% block title %}
  Great Burlesque Exposition: Submit An Act
{% endblock %}

{% block content %}
  {% if form.error %}
    <p class="error">Sorry, error of some sort</p>
  {% endif %}


<div id="right-side">
<h3><a name="deadlines">Application Hints</a></h3>
  <p>The selection committee wants you to perform, but they also want to create the 
    best show possible.  While some of the members of the committee may know you, most 
    of them won't, so your application is the only information they have about your act 
    and you as a performer.  When filling out the form, try and imagine how it reads to 
    someone who doesn't know you and has never seen your act.  Remember that we get 
    hundreds of applications; while we'd love to be able to follow-up and ask questions 
    on every submission, odds are we won't be able to.  If something isn't clear on your 
    application, you're less likely to be accepted.</p>
  <p> Submissions that have video go to the top of the pile.  Submissions that have 
    clear video of the act which is being submitted go to the top of the top of the 
    pile.  "Clear" video doesn't mean 'professional' video, it just means steady, 
    well-let, and in focus.</p>
  <p> <I>The Great Burlesque Exposition</I> does not have a preferred 'style' of act.  
    We like <em>good</em> acts, but besides that, all flavors of performance are welcome.</p>
  <p> Be careful not to paint yourself into a corner.  If you've been performing for 
    5 years, but only want to be considered for <I>The Original Newcomers' Showcase</I>, 
    or if your act is six minutes long, but you indicate you only want to be considered 
    for <I>The Main Event</I>, you've made our decision for us &mdash; and taken yourself 
    out of the running.</p>
</div>

<div id="middle">
  <h2>Apply to Perform</h2>

  <big>Thank you for your interest in applying to perform at <em>The ninth annual Great 
  Burlesque Exposition of  2015</em>.  </big>
  <br />
  <br />
  <b>Incomplete applications will not be accepted</b>, but you can now save your application 
  and come back to complete it.  Also, every time you log in to the site, you'll get a notice 
  letting you know your application isn't complete.  <B>Applications are accepted from 
  September 1 through October 31 and performers are notified of acceptance on or about 
  December 1.</b><br />
  <br />
  <b>Unpaid applications will not be accepted</b> but we'll send you a reminder so 
  you can settle up before October 31st.<br />
  <br />
  <big>There are four potential performance slots for applicants on three nights:</big> 
  <br />

  <ul>
    <li><b>Friday night, February 7</b> during <i>The Burlesque Bordello</i>.  
      This isn't the same thing as <i>The Rhinestone Review</i> which is earlier in the 
      evening on Friday and invitation only.  Performances at <i>The Burlesque Bordello 
      Party</i> are on a small (8'x8') stage, are non-competition, and are best suited 
      for solos or duets.  This is limited to 10-15 acts of varying lengths. <em>We are 
      also accepting NON-burlesque variety acts for this show</em></li>
    <li><b>Saturday night, February 8</b> <i>The Main Event</i>, where you can perform 
      either in competition or in exhibition (while the judges or off selecting the 
      winners).  The competition portion of The Main Event is limited to about 25 acts 
      <b>each act in competition has a <u>maximum length</u> of four minutes and fifteen 
      seconds (04:15)</b>. Most people don't get in the first time they apply, so don't 
      feel badly if you don't get in.</li>
    <li><b>Sunday night, February 9</b> <i>The Original Newcomer's Showcase</i>  We don't 
      have a hard cut-off for what a 'newcomer' is.  We use our judgment based on the 
      biographical information you provide us. Someone who has been performing for only 
      a year but has already been in three festivals and dances regularly in a weekly 
      showcase is technically "newer" than someone who has been performing for three 
      years, but only performs once or twice a year.  We accept 10-15 performers for 
      this show.</li>
    <li><b>Sunday night, February 9</b> <i>The Sideshow Ball</i> is the other part of 
      Sunday's entertainment.  It's for freaks, geeks, and variety entertainers.  In 
      past years we've had belly dancers, snake charmers, magicians, mentalists, 
      comedians, grinder girls, sword swallowers, hula hoopers, watchamacallems and 
      thingamawhosits.  We accept 8-10 variety acts and intersperse them amongst the 
      burlesque newcomers.<br />
    </li>
  </ul>

  <br />
  <hr /><br />
  At minimum, before applying, you'll want:
  <ul>
    <li>To know which act you're going to submit</li>
    <li>A picture of yourself and a video (preferably of the act with which you are 
      applying)</li>
    <li>A little burlesque resume</li>
    <li>A PayPal account or credit card</li>
  </ul>
</div>

<br><br>
<font size="+1"><b><P>To edit an existing Performance, click the title below:</b></font>
<br>
<ul>
    <li>Draft: Performance - <A HREF=Acts.php?action=50&BidId=172>Betty TEst</A></li>
    <li>Draft: Performance - <A HREF=Acts.php?action=50&BidId=10>test</A></li>
</ul>
<br>

<h2>Act Submission</h2>
<form method="POST" action="/bid/act" enctype="multipart/form-data">


  <input type="hidden" name="Act" value="172">
  <p><font color=red>*</font> indicates a required field
  </p>
  <table border=0>
 
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
        <tr>
            {{ field.errors }}
            <td>
              {% if field.css_classes == 'required' %}
              <font color="red">*</font>
              {% else %}
              &nbsp;
              &nbsp; 
              {% endif %} 
              {{ field.label_tag }} 
              {% if field.help_text %}
                <span class="dropt" title="Help">
                ???
                  <span style="width:200px;float:right;text-align:left;">
                  {{ field.help_text }}
                  </span>
                </span>
              {% endif %}
            </td>
            <td>
              {{ field }}
            </td>
        </tr>
    {% endfor %}
  </table>

  <table border=0>
        
  <tr>
    <td align="right">Stage Name or Troupe:</td>
    <td align="left"><input type="text" name="Organization" size="64" maxlength="64" value="test" ></td>
  </tr>
  <tr>
    <td align="right">Web Site:</td>
    <td align="left"><input type="text" name="Homepage" size="64" maxlength="128" value="test" ></td>
  </tr>
  <tr>
    <td align="right"><font color="red">*</font>&nbsp;Email for inquries/updates:</td>
    <td align="left"><input type="text" name="GameEMail" size="64" maxlength="128" value="bethlakshmi@gmail.com" ></td>
  </tr>
  <TR>
    <TD COLSPAN=2>Is this a Troupe Performance?
      <select name=MultipleRuns SIZE=1>
        <option value=N SELECTED>No</option>
        <option value=Y >Yes</option>
      </select>
    </TD>
  </TR>   
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      <b>Fellow performers</b>  Please list other people involved/required for this
act.
<br>
      <textarea name="GMs" class="ckeditor" cols="80" rows="2" wrap="physical"  ><p>test</p></textarea>
    </td>
  </tr>
  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>About You</B></TD></TR>
  <TR>
    <TD COLSPAN=2>
I/We have been performing burlesque for...       <SELECT NAME=RunBefore SIZE=1 >
        <option value="I'm not a burlesque performer">I'm not a burlesque performer</option>
        <option value="less than 1 year">less than 1 year</option>
        <option value="1-2 years">1-2 years</option>
        <option value="3-4 years" selected>3-4 years</option>
        <option value="5-6 years">5-6 years</option>
        <option value="more than 6 years">more than 6 years</option>
      </SELECT>
    </TD>
  </TR>
  <TR>
    <TD COLSPAN=2>
      <br><b>I/We would like to be considered for... <font color="red">*</font></b>
    </TD>
  </TR>
  <TR>
    <TD COLSPAN=2>
      <TABLE BORDER=0>
        <TR ALIGN=LEFT>
          <TD>The Bordello (Friday evening)</TD>
          <TD><input type=checkbox name=Friday_After_Midnight CHECKED></TD>
        </tr>
        <TR ALIGN=LEFT>
          <TD>The Main Event (Competition) (Saturday evening)</TD>
          <TD><input type=checkbox name=Saturday_Evening ></TD>
        </tr>
        <TR ALIGN=LEFT>
          <TD>The Main Event (Not in Competition) (Saturday evening)</TD>
          <TD><input type=checkbox name=Saturday_After_Midnight ></TD>
        </tr>
        <TR ALIGN=LEFT>
          <TD>The Newcomer's Showcase (Sunday evening)</TD>
          <TD><input type=checkbox name=Sunday_Evening ></TD>
        </tr>
        <TR ALIGN=LEFT>
          <TD>The Sideshow Ball (Sunday evening)</TD>
          <TD><input type=checkbox name=Sunday_After_Midnight ></TD>
        </tr>
      </table>    </TD>
  </tr>
  <TR>
    <TD COLSPAN=2>
      <BR><BR>
      <b>I/We have performed at...</b>
    </TD>
  </TR>
  <TR>
    <TD colspan=2>
      <TABLE BORDER=0>
  	  <TR><TH>&nbsp;</TH>          <TH width="100">Yes</TH>
          <TH width="100">No</TH>
          <TH width="100">Yes - and Won!</TH>
        </tr>
        <TR ALIGN=CENTER>
          <TD align="left">The Great Burlesque Exposition</TD>
          <TD><INPUT TYPE=RADIO NAME="The Great Burlesque Exposition" VALUE="Yes"></TD>
          <TD><INPUT TYPE=RADIO NAME="The Great Burlesque Exposition" VALUE="No" checked="checked"></TD>
          <TD><INPUT TYPE=RADIO NAME="The Great Burlesque Exposition" VALUE="Yes - and Won!"></TD>
        </tr>
        <TR ALIGN=CENTER>
          <TD align="left">Miss Exotic World/Burlesque Hall</TD>
          <TD><INPUT TYPE=RADIO NAME="Miss Exotic World/Burlesque Hall" VALUE="Yes"></TD>
          <TD><INPUT TYPE=RADIO NAME="Miss Exotic World/Burlesque Hall" VALUE="No" checked="checked"></TD>
          <TD><INPUT TYPE=RADIO NAME="Miss Exotic World/Burlesque Hall" VALUE="Yes - and Won!"></TD>
        </tr>
        <TR ALIGN=CENTER>
          <TD align="left">NYBF</TD>
          <TD><INPUT TYPE=RADIO NAME="NYBF" VALUE="Yes"></TD>
          <TD><INPUT TYPE=RADIO NAME="NYBF" VALUE="No"></TD>
          <TD><INPUT TYPE=RADIO NAME="NYBF" VALUE="Yes - and Won!" checked="checked"></TD>
        </tr>
        <TR ALIGN=CENTER>
          <TD align="left">The New Orleans Burlesque Fest</TD>
          <TD><INPUT TYPE=RADIO NAME="The New Orleans Burlesque Fest" VALUE="Yes"></TD>
          <TD><INPUT TYPE=RADIO NAME="The New Orleans Burlesque Fest" VALUE="No" checked="checked"></TD>
          <TD><INPUT TYPE=RADIO NAME="The New Orleans Burlesque Fest" VALUE="Yes - and Won!"></TD>
        </tr>
        <TR ALIGN=CENTER>
          <TD align="left">Texas Burlesque Festival</TD>
          <TD><INPUT TYPE=RADIO NAME="Texas Burlesque Festival" VALUE="Yes"></TD>
          <TD><INPUT TYPE=RADIO NAME="Texas Burlesque Festival" VALUE="No" checked="checked"></TD>
          <TD><INPUT TYPE=RADIO NAME="Texas Burlesque Festival" VALUE="Yes - and Won!"></TD>
        </tr>
      </TABLE>
    </TD>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      <font color="red">*</font>&nbsp;Please give a brief performer/troupe history 
<br>
      <textarea name="Premise" class="ckeditor" cols="80" rows="3" wrap="physical"  ><p>test safari</p></textarea>
    </td>
  </tr>
  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>About Your Act</B></TD></TR>
  <tr>
    <td align="right">Title of Song:</td>
    <td align="left"><input type="text" name="GameSystem" size="64" maxlength="128" value="test" ></td>
  </tr>
  <tr>
    <td align="right">Name of Artist:</td>
    <td align="left"><input type="text" name="OtherDetails" size="64" maxlength="128" value="test" ></td>
  </tr>
  <tr>
    <td align="right"><font color="red">*</font>&nbsp;Act Length:</td>
    <td align="left"><input type="text" name="Minutes" size="2" maxlength="2" value="1" ><input type="text" name="Seconds" size="2" maxlength="2" value="11" >(mm.ss)</td>
  </tr>
<input type="hidden" name="Hours" value="12">
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      <font color="red">*</font>&nbsp;<b>Description</b>
 Please give a brief description of your act. Stage kittens will retrieve costumes and props, but we cannot clean the stage after your act. Please do not leave anything on the stage (water, glitter, confetti, etc.)<BR><br>
      <textarea name="Description" class="ckeditor" cols="80" rows="15" wrap="physical"  ><p>test safari</p></textarea>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      <font color="red">*</font>&nbsp;A <b>short blurb</b> (50 words or less) to be used for
summary listings of convention events.
<br><br>
      <textarea name="ShortBlurb" class="ckeditor" cols="80" rows="4" wrap="physical"  ><p>test safari</p></textarea>
    </td>
  </tr>
  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>Video and Photo</B></TD></TR>
  <TR>
    <TD COLSPAN=2><br><br>
<input type="hidden" name="OrigVideo" value="http://test.com">
<input type="hidden" name="OrigPhoto" value="/Applications/MAMP/uploads/picture/Bid-172.jpg">
      <SELECT NAME=VideoOf SIZE=1 >
        <option value="I don't have any video of myself performing">I don't have any video of myself performing</option>
        <option value="This is video of me but not the act I'm submitting" selected>This is video of me but not the act I'm submitting</option>
        <option value="This is video of the act I would like to perform">This is video of the act I would like to perform</option>
      </SELECT>
    <br></TD>
  </TR>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Link to Video <br>
      <textarea name="VideoURL" cols="80" rows="1" wrap="physical">http://test.com</textarea>
    </td>
  </tr>
  <TR>
    <TD COLSPAN=2><br><br>
      <font color="red">*</font>&nbsp;Please_upload a photograph of yourself (photo must be under 10 MB)		<input type="file" name="photo_upload"/>    </TD>
  </TR>
  <TR valign=TOP>
    <TD align=right>
<b>Current Video:</b><br><a href="http://test.com">Click to watch video</a>    </TD>
    <TD align=left>
<b>Current Photo:</b>&nbsp;&nbsp;<a href="/media/picture/Bid-172.jpg"><img src="/media/picture/Bid-172.jpg" alt="Photo" height=300></a>    </TD>
  </TR>
<input type="hidden" name="MinPlayersMale" value="0">
<input type="hidden" name="MaxPlayersMale" value="0">
<input type="hidden" name="PrefPlayersMale" value="0">
<input type="hidden" name="MinPlayersFemale" value="0">
<input type="hidden" name="MaxPlayersFemale" value="0">
<input type="hidden" name="PrefPlayersFemale" value="0">
<input type="hidden" name="MinPlayersNeutral" value="0">
<input type="hidden" name="MaxPlayersNeutral" value="0">
<input type="hidden" name="PrefPlayersNeutral" value="0">
    </TD>
  </tr>
  <TR>
    <TD COLSPAN=2>
      <BR><BR>
      <b>Are You...</b>
    </TD>
  </TR>
  <TR>
    <TD colspan=2>
      <TABLE BORDER=0>
  	  <TR><TH>&nbsp;</TH>          <TH width="100">Yes</TH>
          <TH width="100">No</TH>
          <TH width="100">Not Sure</TH>
        </tr>
        <TR ALIGN=CENTER>
          <TD align="left">staying at the hotel</TD>
          <TD><INPUT TYPE=RADIO NAME="staying at the hotel" VALUE="Yes"></TD>
          <TD><INPUT TYPE=RADIO NAME="staying at the hotel" VALUE="No"></TD>
          <TD><INPUT TYPE=RADIO NAME="staying at the hotel" VALUE="Not Sure" checked="checked"></TD>
        </tr>
        <TR ALIGN=CENTER>
          <TD align="left">volunteering for the event</TD>
          <TD><INPUT TYPE=RADIO NAME="volunteering for the event" VALUE="Yes" checked="checked"></TD>
          <TD><INPUT TYPE=RADIO NAME="volunteering for the event" VALUE="No"></TD>
          <TD><INPUT TYPE=RADIO NAME="volunteering for the event" VALUE="Not Sure"></TD>
        </tr>
        <TR ALIGN=CENTER>
          <TD align="left">attending the conference during the day</TD>
          <TD><INPUT TYPE=RADIO NAME="attending the conference during the day" VALUE="Yes"></TD>
          <TD><INPUT TYPE=RADIO NAME="attending the conference during the day" VALUE="No"></TD>
          <TD><INPUT TYPE=RADIO NAME="attending the conference during the day" VALUE="Not Sure" checked="checked"></TD>
        </tr>
      </TABLE>
    </TD>
  </tr>
<input type="hidden" name="Genre" value="X">
<input type="hidden" name="OngoingCampaign" value="N">
  <tr>
    <td colspan=2>
&nbsp;<br>
<input type="hidden" name="OtherGames" value="">
<input type="hidden" name="Fee" value="N">
  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>Advertising Information</B></TD></TR>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      <font color="red">*</font>&nbsp;A short sentence for the performance to be used to sell the performance to the
general public.
<br>
      <textarea name="ShortSentence" class="ckeditor" cols="80" rows="2" wrap="physical"  ><p>test</p></textarea>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Are there any additional interesting things that
we can use when we do Shameless Plugs for the expo?  Do you
have a plug or advertising spiel you use when you
talk about the performance that you can send or describe to us?<br>
      <textarea name="ShamelessPlugs" class="ckeditor" cols="80" rows="4" wrap="physical"  ><p>test</p></textarea>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Are you going to any shows, events or other conventions where
you will advertise your performance for The Great Burlesque Expo 2014?  If so, which ones?<br>
      <textarea name="GMGameAdvertising" class="ckeditor" cols="80" rows="4" wrap="physical"  ><p>test</p></textarea>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Would you be willing to advertise The Great Burlesque Expo 2014 at these events, by
taking flyers, doing plugs for The Great Burlesque Expo 2014, or doing plugs for
other events at The Great Burlesque Expo 2014?  If so, what are you willing to do,
and when?<br>
      <textarea name="GMInterconAdvertising" class="ckeditor" cols="80" rows="4" wrap="physical"  ><p>test</p></textarea>
    </td>
  </tr>
  <TR>
    <TD COLSPAN=2>Do you want us to send you flyers to distribute?
      <select name=SendFlyers SIZE=1>
        <option value=N SELECTED>No</option>
        <option value=Y >Yes</option>
      </select>
    </TD>
  </TR>   
<br>  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>Payment Information</B></TD></TR>
<tr><td colspan=2><br>Please note that your act submittal is not complete without payment of the application fee.  You can pay that fee at Brown Paper Tickets using the link below.
</td></tr>
<tr><td colspan=2><a href=http://www.brownpapertickets.com/event/ID-None/450851 target="_blank">Make Payment at Brown Paper Tickets</a></td></tr>
<tr><td colspan=2>&nbsp</td></tr>
<input type="hidden" name="currentDraft" value="1">
  <tr>
    <td colspan="2" align="center">
    <input type="submit" value="Submit Bid">
    &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Update Draft" name="isDraft">
    </td>
  </tr>
</TABLE>
</FORM>
{% endblock %}
