{% extends 'base.html' %}

{% block title %}
  Great Burlesque Exposition: Submit An Act
{% endblock %}

{% block content %}
  {% if form.error %}
    <p class="error">Sorry, error of some sort</p>
  {% endif %}

{% if form.errors %}
<br><br>
<font color="red">Error - the act could not be submitted.  Read below and correct the 
errors before submitting.</font>
{% endif %}

{% include intro %} 
{% if otherbids %}
<b>To edit and existing bid proposal, click the proposal below:</b>
<ul>
    {% for bid in otherbids %}
    <li>{{ bid.state }}: <A HREF="{{ editaction }}{{ bid.id }}/">{{ bid.title }}</A></li>
    {% endfor %}
</ul>
<br>
{% endif %}

<h2>Bid Submission</h2>
<form method="POST" action="{{ action }}" enctype="multipart/form-data">


    {% include "form_table.html" %}


<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>Payment Information</B></TD></TR>
<tr><td colspan=2><br>Please note that your act submittal is not complete without payment of the application fee.  You can pay that fee at Brown Paper Tickets using the link below.
</td></tr>
<tr><td colspan=2><a href=http://www.brownpapertickets.com/event/ID-None/450851 target="_blank">Make Payment at Brown Paper Tickets</a></td></tr>
<tr><td colspan=2>&nbsp</td></tr>
<input type="hidden" name="currentDraft" value="1">
  <tr>
    <td colspan="2" align="center">
    <input type="submit" name="Submit" value="Submit Bid">
    &nbsp;&nbsp;&nbsp;
    {% if bid_state == "Draft" %}
    <input type="submit" value="Update Draft" name="Draft">
    {% endif %}
    </td>
  </tr>
</TABLE>
</FORM>
{% endblock %}
