<h2>Panel Application</h2><table><tr><td valign="top"><big>Thank you for your interest in contributing to The Great Burlesque Expo 2014.  </big><br /><br />GBE is February 7-9, 2014 at The Hyatt Regency Hotel in Cambridge, MA.  <br /><br /><p class="p1">GBE is looking to find interesting classes, panels and other convention presentations that satisfy as many different attendees as we can. We are looking for dance classes, circus arts classes, other movement classes, stagecraft class, performing arts business management classes, panels and discussions, and other material that may be of interest to amateur or professional burlesque performer.</p>
<p class="p1">We encourage both experienced and new teachers to bid events. Whether it's a new idea or material that's been run before, we're interested in what you have to propose.</p>
<p>
The Great Burlesque Expo 2014 actively solicits bids in the months leading up to the
Expo. As the attendance grows, based on
registration numbers, we may need a additional round of bids to fill
in the slate of games already accepted for the convention.
</p>
<p>
Please fill out the submission form with <i>as much information as
possible</i>. This is the <i>best</i> way to help us evaluate your
class or panel quickly!</p>
</p>
<hr /><h2>Panel Proposal Instructions</h2>

Panels at the Expo are comprised of a collection of notable personalities and experts
discussing a topic of interest to the GBE community.  Topics can include aspects of 
the Burlesque business, performance choices, political issues or any other subject
that can have an impact on the scene.  The best panels are those that get us thinking
 and talking about how to make the community better.<br />
<br />
Submitting a panel idea does not require or imply that you must sit on the panel as a 
moderator or panelist.  If you're interested in sitting on a panel - go to the "Sit on a Panel"
page to volunteer for panels that are under current consideration for this year's Expo.
<hr /><br />
</td><td width=30%>      <h3><a name="deadlines">Bid Deadlines</a></h3>
<p><em>The Expo will review submissions for classes and panels on the dates shown below.&nbsp; Please have patiences, and realize that our conference planning and our show planning are two separate activities.&nbsp; You can get information at any time on the status of your submissions on the home page of the website.</em></p>
<table width="100%" cellpadding="2" cellspacing="2" bgcolor="#4B067A">
<tr>
<td bgcolor="white">
<h3>Questions?</h3>
<p><a href="Static.php?page=bidFAQ#classtypes">What types of classes does the Expo want?</a></p>
<p><a href="Static.php?page=bidFAQ#attendees">What types of people attend the Expo?</a></p>
<p><a href="Static.php?page=bidFAQ#length">How long are classes?</a></p>
<p><a href="Static.php?page=bidFollowup">What happens when I submit my bid?</a></p>
<p><a href="Static.php?page=bidFAQ#">Other Frequently Asked Questions About Classes and Panels</a></p>
</td></tr></table>
<table cellspacing="2" cellpadding="2" bgcolor="#4B067A">
<tr bgcolor="white">
<td>
<h3>Why Bid Early?</h3>
<p>There are several great reasons to get your event bid in early:
<ul>
<li>You're likelier to get the time slot you desire. As the
schedule fills, the prime time slots fill up.
<li>Your game gets more publicity and advertising. It's likelier
to fill earlier, which will give you more time to cast and plan.
<li>You get a better chance at attracting the congoers who know that
it's smart to sign up early for events.
<li>You might miss your chance to bid at all if you wait.
</ul></td></tr></table>
</td></tr></table><div style="border-style: solid; border-color: red; padding: 1ex; margin-bottom: 2ex">
<b>Important Note:</b><br>
The policy of the The Great Burlesque Expo 2014 has changed this year. 
This year, time spent assisting the expo during run time as a teacher, 
panelist, perfomer, or other volunteer will be taken into consideration 
for 2015 discounts.  After the GBE has concluded, you can expect to hear the about 2015 discounts as part of our thank yous. 
If you are coming to the GBE purely to teach, 
please inform the teacher coordinator, <a href="mailto:Teachers13@burlesque-expo.com">Scandal from Bohemia</a>. via email and we will arrange a pass for you.
</p>
</div>
<font size="+1"><b>Submit a Panel for The Great Burlesque Expo 2014</b></font><br>
<form method="POST" action="Bids.php">
<input type="hidden" name="Seq" value="1">
<input type="hidden" name="action" value="51">
<input type="hidden" name="BidId" value="0">
<input type="hidden" name="EditGameInfo" value="1">
<p><font color=red>*</font> indicates a required field
<TABLE BORDER=0>
  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>Panel Information</B></TD></TR>
<input type="hidden" name="GameType" value="Panel">
  <tr>
    <td align="right"><font color="red">*</font>&nbsp;Panel:</td>
    <td align="left"><input type="text" name="Title" size="64" maxlength="128" value="" ></td>
  </tr>
<input type="hidden" name="Author" value="X">
  <tr>
    <td align="right"><font color="red">*</font>&nbsp;Email for inquries/updates:</td>
    <td align="left"><input type="text" name="GameEMail" size="64" maxlength="128" value="bethlakshmi@gmail.com" ></td>
  </tr>
  <tr>
    <td align="right">Panel Length (half-hour blocks): </td>
    <td align="left"><i>Panels are 1 hour long</i><input type="hidden" name="Hours" value="2">
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      <font color="red">*</font>&nbsp;<b>Description</b>
 For use on the The Great Burlesque Expo 2014 website, in advertising <br>and in any schedule of events.
The description should be 1-2 of paragraphs.<br><br><br>
      <textarea name="Description" class="ckeditor" cols="80" rows="15" wrap="physical"  ></textarea>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      <font color="red">*</font>&nbsp;A <b>short blurb</b> (50 words or less) to be used for
summary listings of convention events.
<br><br>
      <textarea name="ShortBlurb" class="ckeditor" cols="80" rows="4" wrap="physical"  ></textarea>
    </td>
  </tr>
<input type="hidden" name="MinPlayersMale" value="0">
<input type="hidden" name="MaxPlayersMale" value="0">
<input type="hidden" name="PrefPlayersMale" value="0">
<input type="hidden" name="MinPlayersFemale" value="0">
<input type="hidden" name="MaxPlayersFemale" value="0">
<input type="hidden" name="PrefPlayersFemale" value="0">
<input type="hidden" name="MinPlayersNeutral" value="0">
<input type="hidden" name="MaxPlayersNeutral" value="0">
<input type="hidden" name="PrefPlayersNeutral" value="0">
  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>Other Information</B></TD></TR>
<input type="hidden" name="Genre" value="X">
<input type="hidden" name="OngoingCampaign" value="N">
  <tr>
    <td colspan=2>
&nbsp;<br>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      <b>Recommended Panelists</b> It is far more likely that your panel may 
be run at The Great Burlesque Expo 2014if we can find qualified panelists and a moderator - let us know any
recommendations.
<br>
      <textarea name="GMs" class="ckeditor" cols="80" rows="2" wrap="physical"  ></textarea>
    </td>
  </tr>
<input type="hidden" name="Premise" value="X">
  <TR>
    <TD COLSPAN=2>
      &nbsp;<BR>The Great Burlesque Expo 2014 is looking for convention content that is new and that
have successfully presented before, either at a convention, or elsewhere.
If this content has run before, where & when was that:<BR>
    <INPUT TYPE=TEXT NAME=RunBefore SIZE=80 MAXLENGTH=128 VALUE="">
    </TD>
  </tr>
<input type="hidden" name="GameSystem" value="">
<input type="hidden" name="CombatResolution" value="NoCombat">
<input type="hidden" name="OtherGames" value="">
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Other Event Details<br>
      <textarea name="OtherDetails" class="ckeditor" cols="80" rows="5" wrap="physical"  ></textarea>
    </td>
  </tr>
<input type="hidden" name="PhysicalRestrictions" value="">
<input type="hidden" name="Fee" value="N">
  <TR>
    <TD COLSPAN=2>Are you willing to hold this panel more than once at this convention?
      <select name=MultipleRuns SIZE=1>
        <option value=N SELECTED>No</option>
        <option value=Y >Yes</option>
      </select>
    </TD>
  </TR>   
  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>Advertising Information</B></TD></TR>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      <font color="red">*</font>&nbsp;A short sentence for the panel to be used to sell the panel to the
general public.
<br>
      <textarea name="ShortSentence" class="ckeditor" cols="80" rows="2" wrap="physical"  ></textarea>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Are there any additional interesting things that
we can use when we do Shameless Plugs for the expo?  Do you
have a plug or advertising spiel you use when you
talk about the panel that you can send or describe to us?<br>
      <textarea name="ShamelessPlugs" class="ckeditor" cols="80" rows="4" wrap="physical"  ></textarea>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Are you going to any shows, events or other conventions where
you will advertise your panel for The Great Burlesque Expo 2014?  If so, which ones?<br>
      <textarea name="GMGameAdvertising" class="ckeditor" cols="80" rows="4" wrap="physical"  ></textarea>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Would you be willing to advertise The Great Burlesque Expo 2014 at these events, by
taking flyers, doing plugs for The Great Burlesque Expo 2014, or doing plugs for
other events at The Great Burlesque Expo 2014?  If so, what are you willing to do,
and when?<br>
      <textarea name="GMInterconAdvertising" class="ckeditor" cols="80" rows="4" wrap="physical"  ></textarea>
    </td>
  </tr>
  <TR>
    <TD COLSPAN=2>Do you want us to send you flyers to distribute?
      <select name=SendFlyers SIZE=1>
        <option value=N SELECTED>No</option>
        <option value=Y >Yes</option>
      </select>
    </TD>
  </TR>   
<br />
<b>Notice</b>:  Undefined index: Status in <b>/Applications/MAMP/htdocs/src/GBE/Bids.php</b> on line <b>946</b><br />
<br />
<b>Notice</b>:  Undefined index: currentDraft in <b>/Applications/MAMP/htdocs/src/GBE/Bids.php</b> on line <b>946</b><br />
  <tr>
    <td colspan="2" align="center">
    <input type="submit" value="Submit Bid">
    &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Save Draft" name="isDraft">
    </td>
  </tr>
</TABLE>
</FORM>