<div id="right-side">
<h3><a name="deadlines"><h3><a name="deadlines">Bid Deadlines</a></h3>
<p><em>The Expo will review submissions for classes and panels on the dates shown 
below.&nbsp; Please have patiences, and realize that our conference planning and our 
show planning are two separate activities.&nbsp; You can get information at any time on 
the status of your submissions on the home page of the website.</em></p>


<h3>Questions?</h3>
<p><a href="Static.php?page=bidFAQ#classtypes">What types of classes does the Expo want?</a></p>
<p><a href="Static.php?page=bidFAQ#attendees">What types of people attend the Expo?</a></p>
<p><a href="Static.php?page=bidFAQ#length">How long are classes?</a></p>
<p><a href="Static.php?page=bidFollowup">What happens when I submit my bid?</a></p>
<p><a href="Static.php?page=bidFAQ#">Other Frequently Asked Questions About Classes and Panels</a></p>

</div>

<div id="middle">

<h2>Panel Application</h2>

Panels at the Expo are comprised of a collection of notable personalities and experts
discussing a topic of interest to the GBE community.  Topics can include aspects of 
the Burlesque business, performance choices, political issues or any other subject
that can have an impact on the scene.  The best panels are those that get us thinking
 and talking about how to make the community better.<br />
<br />
Submitting a panel idea does not require or imply that you must sit on the panel as a 
moderator or panelist.  If you're interested in sitting on a panel - go to the "Sit on a Panel"
page to volunteer for panels that are under current consideration for this year's Expo.
<hr /><br />
