{% extends 'base.tmpl' %}
{% load gbe_tags %}
{% load staticfiles %}

{% block title %}
   Review Bids
{% endblock %}

{% block content %}


  <p class="vanilla">{{title}} </p>
  <h2 class="review-title">Act Tech Info for {{this_show}}</h2>

  Also view:
  {% for show in all_shows %}
    <a href="{% url 'reporting:act_techinfo_review' show.eventitem_id%}">{{show}}</a>
    {% if not forloop.last %} | {% endif %}
  {% endfor %}
<br><br>
<span class="error_row">Highlighted text</span> reflects incomplete acts.<br>

  {% if messages %}
      <script>
    alert("{% for message in messages %}{{message.tags|capfirst}}: {{message}}\n{% endfor %}");
      </script>
  {% endif %}

  {% if acts %}
  <table class="bid-table">
    <tr class="bid-table">
      <th class="bid-table" >Order</th>
      <th class="bid-table" >Act</th>
      <th class="bid-table" >Performer</th>
      <th class="bid-table" >Contact Email</th>
      <th class="bid-table" >Rehearsal Time</th>
      <th class="bid-table" >Music</th>
      <th class="bid-table" >Action</th>
    </tr>
    {% for act in acts %}


      <tr  {% if not act.tech.is_complete  %}class="error_row"{%else%} class="bid-table"{% endif %} >
          <td class="bid-table">{{ act.order }}
	  <td class="bid-table">{{ act.title }}</td>
	  <td class="bid-table">{{ act.performer }}</td>
	  <td class="bid-table"><a href='mailto:{{act.performer.contact.user_object.email}}'>
            {{act.performer.contact.user_object.email}}</a></td>
	  <td class="bid-table">{% for rehearsal in act.get_scheduled_rehearsals %}
            {{rehearsal.start_time}}<br>
            {%endfor%}
          </td>

	  <td class="bid-table">
            {% if act.tech.audio.track %}
            <a href="{{act.tech.audio.track.url}}">{{act.tech.audio.track.name | display_track_title:20 }}</a>
            {% elif act.tech.audio.confirm_no_music %}
            No audio track needed
            {% else %}
            <span class="error_row">No track provided</span>
            {% endif %}
          </td>
          <td class="bid-table">
	    <a href="{% url 'gbe:act_techinfo_edit' act.id%}">Edit</a>
	  </td>
      </tr>

    {% endfor %}
  </table>
  <br><br>
  Download <a href='{% url 'reporting:act_techinfo_download' this_show.eventitem_id %}'>All Details</a>
  as a .csv file.
  {% else %}
    <br>
    There are no available acts.  That may mean that:
    <ul>
    <li>The show has not been scheduled - check the scheduler</li>
    <li>There are no acts in the show - check bid review for acts</li>
    <li>The show identified does not exist - please pick from the list above...</li>
    </ul>
{% endif %}


{% endblock %}
