{% extends 'base.tmpl' %}
{% load staticfiles %}

{% block title %}
   Review Staffing for {{title}}
{% endblock %}

{% block content %}


  <h2 class="review-title">Staff Schedules for {{area}}</h2>
<p>
<font color="red">Red text</font> shows a user that has deactivated their account.
</p>
<ul>
  {% for worker in area.people %}
    <li>{{worker.role}} - {{worker.user.profile}}</li>
  {% endfor %}	
</ul>


{% for opp in opps%}
  <h3>{{ opp.starttime}} - {{ opp.eventitem.event.e_title}}</h3>
  <b>Location:</b>  {{opp.location}}<br>
  {{opp.volunteer_count}}<br><br>
  <table class="bid-table">
    <tr class="bid-table">
      <th class="bid-table">Name</th>
      <th class="bid-table">Mail</th>
      <th class="bid-table">Number</th>
    </tr>
    {% for contact in opp.people%}
    <tr class="bid-table" {% if not contact.user.profile.is_active %}style="color:red;"{% endif %}>
      <td class="bid-table">{{contact.user.profile}}</td>
      <td class="bid-table">{{contact.user.email}}</td>
      <td class="bid-table">{{contact.user.profile.phone}}</td>
    </tr>
    {% endfor %}
  </table>
{% endfor %}
{% endblock %}

