{% extends 'base.html' %}

{% block title %}
  GBE: Login
{% endblock %}

{% block content %}
  {% if form.error %}
    <p class="error">Sorry, error of some sort</p>
  {% endif %}
<br><br>
  <form action="" method=post>
    {% csrf_token %}
    <a href="/accounts/password/reset/">Help!</a> I forgot my password!
    <br><br>
    <table>
    <tr>
      <td><label for="username">Login: </label></td>
      <td><input type="text" name="username" value="" id="username"/></td>
    </tr>
    <tr>
      <td><label for="password">Password: </label></td>
      <td><input type="password" name="password" value="" id="password"/></td>
    </tr>
    <tr>
      <td colspan=2 align=center><input type="submit" value="Login"/></td>
    </tr>
    </table>
    <input type="hidden" name="next" value = "{{next |escape}}" />
  </form>
{% endblock %}
