{% extends 'base.tmpl' %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

<h1 class="subtitle">{% trans "Reset password / Recover Username" %}</h1>

<p>Forgotten your password or username? Enter your email address 
below.  We'll email a reminder of what your username is and 
instructions for setting a new password.</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'Email address:' %}</label>
{{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
</form>

{% endblock %}
