{% extends "base.tmpl" %}
{% load staticfiles %}
{% block title %}
  Calendar
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/calendar.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/fonts/font-awesome.min.css">
{% endblock %}

{% block content %}
<div style="text-align: center; padding-bottom: 10px">
{% include 'conference_list.tmpl' with conf_slug=conference.conference_slug %}
</div>
<div class="container calendar-container">
 <div class="row header1">
    <div class="col-lg-12">{{conference.conference_name}} - {{ calendar_type }} Calendar</div>
 </div>
 <div class="row header2">
    <div class="col-lg-1 backward"><a href="#" data-toggle="tooltip" title="Next Day">
    {% if prev_date %}
    <div class="col-lg-1 forward"><a href="?day={{ prev_date }}" data-toggle="tooltip" title="{{ prev_date }}">
      <button class="btn btn-default" type="submit" name="{{ prev_date }}" value="{{ prev_date }}">
    {% else %}
    <div class="col-lg-1 forward"><a href="#">
      <button class="btn btn-default disabled">
    {% endif %}
        <i class="fa fa-step-backward" aria-hidden="true"></i>
      </button>
    </a></div>    </a></div>
    <div class="col-lg-10">{{ this_day }}</div>
    {% if next_date %}
    <div class="col-lg-1 forward"><a href="?day={{ next_date }}" data-toggle="tooltip" title="{{ next_date }}">
      <button class="btn btn-default" type="submit" name="{{ next_date }}" value="{{ next_date }}">
    {% else %}
    <div class="col-lg-1 forward"><a href="#">
      <button class="btn btn-default disabled">
    {% endif %}
        <i class="fa fa-step-forward" aria-hidden="true"></i>
      </button>
    </a></div>
 </div>
{% for occurrence in occurrences %}
  {% ifchanged occurrence.hour %}
   {% if not forloop.first %}
  </div>
  {% endif %}

  <div class="row time-row">
    <div class="col-lg-12">{{occurrence.hour}}:00 AM</div>
  </div>
  <div class="row event-row">
   {% endifchanged %}
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
     {{ occurrence.start }}-{{ occurrence.end }}<br>
     {{ occurrence.title}}<br>
     <i>{{ occurrence.location }}</i>
    </div>
  {% endfor %}
  </div>

</div>
{% endblock %}