  {% load staticfiles %}
    
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
  <font color=red>*</font> indicates a required field
  <font color="red">
  {% if form.errors %}
    <p style= "color:red"> There is an error on the form.</p>
  {% endif %}
  {{ form.non_field_errors }}</font>
<div class="event_booking">
<h4>Event Details</h4>
The following fields are common to all scheduled items for this event.
Changing fields in this section will change them in all calendar items.
{# Include the visible fields #}
  {% for field in form.visible_fields %}
    <div class="row"><div class="form-group">
      <div class="col-md-3 col-xs-12">
	<label for="{{field.name}}" class="control-label">	      
          {% if field.errors %}
            <font color="red">!&nbsp;&nbsp;
	  {% elif field.css_classes == 'required' %}
            <font color="red">*</font>
          {% endif %} 
          {{ field.label_tag }}
          {% if field.errors %}</font>{% endif %} 
          {% if field.help_text %}<span class="dropt" title="Help">
            <img src= "{% static "img/question.png" %}" alt="?"/>
            <span style="width:200px;float:right;text-align:left;">
              {{ field.help_text }}
          </span></span>{% endif %}
      </label></div>
      <div class="col-md-9 col-xs-12">
	{{ field }}
        {% if field.errors %}
 	<label for="field.name">
	  <font color="red">{{ field.errors }}</font>
        </label>{% endif %}
      </div>
    </div></div>
    {% endfor %}</div>
<div class="event_booking">
<h4>Booking Details</h4>
  {% for hidden in scheduling_form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  <div class="row"><div class="form-group">
      <div class="col-md-1 col-sm-3 col-xs-5">
	<label for="{{scheduling_form.day.name}}" class="control-label">	      
          {% if scheduling_form.day.errors %}
            <font color="red">!&nbsp;&nbsp;
	  {% elif scheduling_form.day.css_classes == 'required' %}
            <font color="red">*</font>
          {% endif %} 
          {{ scheduling_form.day.label_tag }}
          {% if scheduling_form.day.errors %}</font>{% endif %} 
      </label></div>
      <div class="col-md-2 col-sm-3 col-xs-7">
	{{ scheduling_form.day }}
        {% if scheduling_form.day.errors %}
 	<label for="field.name">
	  <font color="red">{{ scheduling_form.day.errors }}</font>
        </label>{% endif %}
      </div>
      <div class="col-md-2 col-sm-3 col-xs-5">
	<label for="{{scheduling_form.time.name}}" class="control-label">	      
          {% if scheduling_form.time.errors %}
            <font color="red">!&nbsp;&nbsp;
	  {% elif scheduling_form.time.css_classes == 'required' %}
            <font color="red">*</font>
          {% endif %} 
          {{ scheduling_form.time.label_tag }}
          {% if scheduling_form.time.errors %}</font>{% endif %} 
      </label></div>
      <div class="col-md-2 col-sm-3 col-xs-7">
	{{ scheduling_form.time }}
        {% if scheduling_form.time.errors %}
 	<label for="field.name">
	  <font color="red">{{ scheduling_form.time.errors }}</font>
        </label>{% endif %}
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
	<label for="{{scheduling_form.duration.name}}" class="control-label">	      
          {% if scheduling_form.duration.errors %}
            <font color="red">!&nbsp;&nbsp;
	  {% elif scheduling_form.duration.css_classes == 'required' %}
            <font color="red">*</font>
          {% endif %} 
          {{ scheduling_form.duration.label_tag }}
          {% if scheduling_form.duration.errors %}</font>{% endif %} 
      </label></div>
      <div class="col-md-2 col-sm-9 col-xs-12">
	{{ scheduling_form.duration }}
        {% if scheduling_form.duration.errors %}
 	<label for="field.name">
	  <font color="red">{{ scheduling_form.duration.errors }}</font>
        </label>{% endif %}
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12">
	<label for="{{scheduling_form.location.name}}" class="control-label">	      
          {% if scheduling_form.location.errors %}
            <font color="red">!&nbsp;&nbsp;
	  {% elif scheduling_form.location.css_classes == 'required' %}
            <font color="red">*</font>
          {% endif %} 
          {{ scheduling_form.location.label_tag }}
          {% if scheduling_form.location.errors %}</font>{% endif %} 
      </label></div>
      <div class="col-md-9 col-sm-9 col-xs-12">
	{{ scheduling_form.location }}
        {% if scheduling_form.location.errors %}
 	<label for="field.name">
	  <font color="red">{{ scheduling_form.location.errors }}</font>
        </label>{% endif %}
      </div>
      {% if scheduling_form.max_volunteer in scheduling_form.visible_fields %}
      <div class="col-md-3 col-sm-3 col-xs-12">
	<label for="{{scheduling_form.max_volunteer.name}}" class="control-label">	      
          {% if scheduling_form.max_volunteer.errors %}
            <font color="red">!&nbsp;&nbsp;
	  {% elif scheduling_form.max_volunteer.css_classes == 'required' %}
            <font color="red">*</font>
          {% endif %} 
          {{ scheduling_form.max_volunteer.label_tag }}
          {% if scheduling_form.max_volunteer.errors %}</font>{% endif %} 
      </label></div>
      <div class="col-md-9 col-sm-9 col-xs-12">
	{{ scheduling_form.max_volunteer }}
        {% if scheduling_form.max_volunteer.errors %}
 	<label for="field.name">
	  <font color="red">{{ scheduling_form.max_volunteer.errors }}</font>
        </label>{% endif %}
      </div>
      {% endif %}
  </div></div>
</div>