{% extends 'base.tmpl' %}

{% block title %}
  Manage Events
{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
    {% if selection_form %}
      {% if second_form %}<a data-toggle="collapse" href="#collapse1">
      Select Event Type: {{ event_type }}</a>
      {% else %}Select Event Type{% endif %}
    {% else %}
      {% if second_form %}<a data-toggle="collapse" href="#collapse1">
      {{ first_title }}</a>
      {% else %}{{ first_title }}{% endif %}
    {% endif %}
    </h3>
  </div>
  {% if second_form %}<div id="collapse1" class="panel-collapse collapse">{% endif %}
  <div class="panel-body">
    {% if selection_form %}
      {% if selection_form.errors %}<p style= "color:red"> There is an error on the form.</p>{% endif %}
      <font color="red">{{ selection_form.non_field_errors }}</font>
      <form action="{% url 'scheduling:create_event_wizard' conference_slug %}" method="get" enctype="multipart/form-data">
        <div class="form-row"><div class="form-group">
          {{ selection_form.event_type }}
          {% if selection_form.event_type.errors %}
            <font color="red">{{ selection_form.event_type.errors }}</font>
          {% endif %}
        </div></div>
    {% elif pick_day %}
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
      {{ pick_day }}
    {% elif copy_mode %}
      {% if copy_mode.errors %}<p style= "color:red"> There is an error on the form.</p>{% endif %}
      <font color="red">{{ copy_mode.non_field_errors }}</font>
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row"><div class="form-group"><div class="col-xs-12">
	  <label for="{{copy_mode.copy_mode.name}}" class="control-label">	      
            {{ copy_mode.copy_mode.label_tag }}
          </label>
            <br>
              {{ copy_mode.copy_mode.0.tag }}
              {{ copy_mode.copy_mode.0.choice_label }} {{ copy_mode.target_event }}
              {% if copy_mode.target_event.errors %}
                <font color="red"><ul>{{ copy_mode.target_event.errors }}</ul></font>
              {% endif %}
            <br>
              {{ copy_mode.copy_mode.1.tag }}
              {{ copy_mode.copy_mode.1.choice_label }} {{ copy_mode.copy_to_day }}
            <br>
            {% if copy_mode.copy_to_day.errors or copy_mode.copy_mode.errors %}
            <font color="red"><ul>
            {{ copy_mode.copy_to_day.errors }}
            {{ copy_mode.copy_mode.errors }}
            </ul></font>
            {% endif %}
        </div></div></div>
      {% endif %}
    <div class="form-row pull-right">
      <input type="submit" class="event_wizard_button" name="pick_event" value="Next">
    </div>
  </form>
  </div>{% if second_form %}</div>{% endif %}
</div>
{% if second_form %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% if third_form %}<a data-toggle="collapse" href="#collapse2">
      {{ second_title }}</a>
      {% else %}{{ second_title }}{% endif %}
    </h3>
  </div>
  {% if third_form %}<div id="collapse2" class="panel-collapse collapse">{% endif %}
  <div class="panel-body">
    {% block second_form %}
    {% endblock %}
  </div>{% if third_form %}</div>{% endif %}
</div>
{% endif %}
{% if third_form %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ third_title }}</h3>
  </div>
  <div class="panel-body">
    {% block third_form %}
    {% endblock %}
  </div>
</div>
{% endif %}
{% endblock %}
