{% extends 'base.tmpl' %}

{% block title %}
  Manage Events
{% endblock %}

{% block head %}
 {% for email_form in email_forms %}
  {{ email_form.media }}
 {% endfor %}
{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Select Event Type</h3>
  </div>
  <div class="panel-body">
  <font color="red">
  {% if selection_form.errors %}
    <p style= "color:red"> There is an error on the form.</p>
  {% endif %}
  {{ selection_form.non_field_errors }}</font>
  <form action="" method="get" enctype="multipart/form-data">
    <div class="form-group">
      {{ selection_form.event_type }}
        {% if selection_form.event_type.errors %}
          <font color="red">{{ selection_form.event_type.errors }}</font>
        {% endif %}
         <input type="submit" class="event_wizard_button" name="pick_event" value="Next">
    </div>
  </form>
  </div>
</div>
{% if next_form %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ next_title }}</h3>
  </div>
  <div class="panel-body">
    <form action="" method="post" enctype="multipart/form-data"> 
      {% include "form_table_wrapper.tmpl" with forms=email_forms %}
      <input type="submit" class="next" name="pick_2" value="Next">
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
