{% extends "base.tmpl" %}
{% load staticfiles %}
{% block title %}
  Manage Expo Schedule
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/fonts/simple-line-icons.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="container review">
 <ul class="nav nav-tabs" id="inner">
 {% for slug in conference_slugs %}
  <li role="presentation" {% if conference.conference_slug == slug %}class="active"{% endif %}>
   <a href = "{{ slug }}">{{slug}}</a></li>
 {% endfor %}
 </ul>
 <div class="scheduling-area">
   <form class="form-inline" action="" method="get" enctype="multipart/form-data">
    {% csrf_token %}
   <div class="form-row">
   <div class="form-group col-md-2 col-xs-12">
     <label class="form-check-label" id="{{ selection_form.day.name }}">
      {% if selection_form.day.errors %}
        <font color="red">!&nbsp;&nbsp;
      {% endif %}
       {{ selection_form.day.label }}:&nbsp;&nbsp;
      {% if selection_form.day.errors %}
        </font>
      {% endif %}</label>
   </div>
   <div class="form-group col-md-10 col-xs-12">
     {% for checkbox in selection_form.day %}
      <label class="checkbox-inline" id="{{ checkbox.id_for_label }}">
      {{ checkbox.tag }}{{ field.label_tag }}
      {{ checkbox.choice_label }}
      </label>{% endfor %}
      {% if selection_form.day.errors %}
        <font color="red">{{ selection_form.day.errors }}</font>
      {% endif %}   </div></div>
   <div class="form-row">
   <div class="form-group col-md-2 col-xs-12">
    <label class="form-check-label" id="{{ selection_form.calendar_type.name }}">
     {% if selection_form.calendar_type.errors %}
      <font color="red">!&nbsp;&nbsp;
     {% endif %}
     {{ selection_form.calendar_type.label }}:&nbsp;&nbsp;
     {% if selection_form.calendar_type.errors %}
      </font>
     {% endif %}</label>
   </div>
   <div class="form-group col-md-9 col-xs-12">
     {% for checkbox in selection_form.calendar_type %}
      <label class="checkbox-inline" id="{{ checkbox.id_for_label }}">
      {{ checkbox.tag }}{{ field.label_tag }}
      {{ checkbox.choice_label }}
      </label>{% endfor %}
      {% if selection_form.calendar_type.errors %}
        <font color="red">{{ selection_form.calendar_type.errors }}</font>
      {% endif %}
   </div>
   <div class="form-group col-md-1 col-xs-12">
      <input type="submit" class="email-submit" name="filter" value="Filter"></form>
   </div>
{% if occurrences %}
   <div class="row">
  <div class="col-xs-12">
    Toggle column(s):
      <a class="toggle-vis" data-column="0">Title</a> - 
      <a class="toggle-vis" data-column="1">Location</a> - 
      <a class="toggle-vis" data-column="2">Date/Time</a> - 
      <a class="toggle-vis" data-column="3">Duration</a> - 
      <a class="toggle-vis" data-column="4">Type</a> - 
      <a class="toggle-vis" data-column="5">Current Volunteer</a> - 
      <a class="toggle-vis" data-column="6">Max Volunteer</a>
  </div></div>
     <div class="row">
  <div class="col-xs-12">

  <br/>
  <table id="bid_review" class="order-column" cellspacing="0" width="100%">
    <thead>
      <tr class="bid-table">
        <th class="bid-table">Title</th>
        <th class="bid-table">Location</th>
        <th class="bid-table">Date/Time</th>
        <th class="bid-table">Duration</th>
        <th class="bid-table">Type</th>
        <th class="bid-table">Current Volunteer</th>
        <th class="bid-table">Max Volunteer</th>
        <th class="bid-table">Action</th>
      </tr>
    </thead>
    <tfoot>
      <tr class="bid-table">
        <th class="bid-table">Title</th>
        <th class="bid-table">Location</th>
        <th class="bid-table">Date/Time</th>
        <th class="bid-table">Duration</th>
        <th class="bid-table">Type</th>
        <th class="bid-table">Current Volunteer</th>
        <th class="bid-table">Max Volunteer</th>
        <th class="bid-table">Action</th>
      </tr>
    </tfoot>
    <tbody>
    {% for occurrence in occurrences %}
      <tr class="bid-table">
       <td class="bid-table">{{ occurrence.title}}</td>
       <td class="bid-table">{{ occurrence.location}}</td>
       <td class="bid-table">{{ occurrence.start}}</td>
       <td class="bid-table">{{ occurrence.duration }}</td>
       <td class="bid-table">{{ occurrence.type }}</td>
       <td class="bid-table">{{ occurrence.current_volunteer }}</td>
       <td class="bid-table">{{ occurrence.max_volunteer }}</td>
       <td class="bid-table"><div class="btn-group" role="group" aria-label="...">
        <a href="{{ occurrence.detail_link }}" data-toggle="tooltip" title="View">
         <button type="button" class="btn btn-default btn-sm"><i class="icon-eye">
         </i></button></a>
        <a href="{{ occurrence.edit_link }}" data-toggle="tooltip" title="Edit">
         <button type="button" class="btn btn-default btn-sm"><i class="icon-pencil">
         </i></button></a>
        <a href="{{ occurrence.create_link }}" data-toggle="tooltip" title="Add">
         <button type="button" class="btn btn-default btn-sm"><i class="icon-plus">
         </i></button></a>
        <a href="{{ occurrence.delete_link }}" data-toggle="tooltip" title="Delete">
         <button type="button" class="btn btn-default btn-sm"><i class="icon-trash">
         </i></button></a>
       </div></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
   </div></div>
{% endif %}
 </div>
</div>
<script>
  $(document).ready(function() {
    var table = $('#bid_review').DataTable();

    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();

        // Get the column API object
        var column = table.column( $(this).attr('data-column') );

        // Toggle the visibility
        column.visible( ! column.visible() );
    } );
} );
</script>
{% endblock %}