{% extends 'gbe/scheduling/event_wizard.tmpl' %}

{% block head %}
  {{ third_form.media }}
{% endblock %}

{% block second_form %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
      {% include "gbe/scheduling/event_booking.tmpl" with form=second_form %}

  <div class="form-row pull-right">
    <input type="submit" class="next" name="set_class" value="Finish">
  </div>
</form>
{% endblock %}