<h2>Class Application</h2><table><tr><td valign="top"><big>Thank you for your interest in contributing to The Great Burlesque Expo 2014.  </big><br /><br />GBE is February 7-9, 2014 at The Hyatt Regency Hotel in Cambridge, MA.  <br /><br /><p class="p1">GBE is looking to find interesting classes, panels and other convention presentations that satisfy as many different attendees as we can. We are looking for dance classes, circus arts classes, other movement classes, stagecraft class, performing arts business management classes, panels and discussions, and other material that may be of interest to amateur or professional burlesque performer.</p>
<p class="p1">We encourage both experienced and new teachers to bid events. Whether it's a new idea or material that's been run before, we're interested in what you have to propose.</p>
<p>
The Great Burlesque Expo 2014 actively solicits bids in the months leading up to the
Expo. As the attendance grows, based on
registration numbers, we may need a additional round of bids to fill
in the slate of games already accepted for the convention.
</p>
<p>
Please fill out the submission form with <i>as much information as
possible</i>. This is the <i>best</i> way to help us evaluate your
class or panel quickly!</p>
</p>
<hr /><h2>Class Proposal Instructions</h2>
Classes at the Expo include <i>Lectures</i>, <i>Movement Classes</i>, and <i>Workshops</i> 
class formats.  If you want to propose a <i>Panel</i>, please 
<a href="Bids.php?GameType=Panel&action=50">click here</a>.
<br /><br />
A <i>Lecture</i> is a class taught by one or two people in which the 
information flows primarily from the instructor(s) to the students.  
They can be intellectual or physical.  An example of a lecture might be 
"The History of Burlesque", "Taxes for Performers", "Marketing Yourself and Your Work", 
and "Audio Editing 101".  The room will be set in a classic class room style, with 
long tables, chairs, and a desk and chair for the presenter.
<br /><br />
<i>Movement Classes</i> are physically active classes taught in a wide open space.  They
can be physical skill, including dance, circus arts, theater or something completely different.
Examples include - "Chair Dance Basics", "The Arms and Hands of a Dancer" and 
"Limber Up! Improving Flexibility".  The space will be a private, open space.  See the choices 
below to describe your flooring needs. <br /><br />
A <i>Workshop</i> is a hands-on, practical, class, usually two-hours long.
Participants in workshops learn a skill or craft that is taught through 
doing.  Workshops often have a materials fee associated with them.  
Examples of a workshop might be "Making a Tiny Little Top Hat" or 
"How to Decorate a Bra".  The room setup will accommodate hands on work with tables and chairs
arranged in a way that facilitates instructor led hands on work, and basic sewing supplies can
be provided (scissors, basic thread, pins, needs, glue) - instructors are expected to bring 
any materials that are consumed during the course of the class.  Please include any tools not listed above
 if they cannot be provided by the instructor.<br />
<br />
<hr /><br />
</td><td width=30%>      <h3><a name="deadlines">Bid Deadlines</a></h3>
<p><em>The Expo will review submissions for classes and panels on the dates shown below.&nbsp; Please have patiences, and realize that our conference planning and our show planning are two separate activities.&nbsp; You can get information at any time on the status of your submissions on the home page of the website.</em></p>
<table width="100%" cellpadding="2" cellspacing="2" bgcolor="#4B067A">
<tr>
<td bgcolor="white">
<h3>Questions?</h3>
<p><a href="Static.php?page=bidFAQ#classtypes">What types of classes does the Expo want?</a></p>
<p><a href="Static.php?page=bidFAQ#attendees">What types of people attend the Expo?</a></p>
<p><a href="Static.php?page=bidFAQ#length">How long are classes?</a></p>
<p><a href="Static.php?page=bidFollowup">What happens when I submit my bid?</a></p>
<p><a href="Static.php?page=bidFAQ#">Other Frequently Asked Questions About Classes and Panels</a></p>
</td></tr></table>
<table cellspacing="2" cellpadding="2" bgcolor="#4B067A">
<tr bgcolor="white">
<td>
<h3>Why Bid Early?</h3>
<p>There are several great reasons to get your event bid in early:
<ul>
<li>You're likelier to get the time slot you desire. As the
schedule fills, the prime time slots fill up.
<li>Your game gets more publicity and advertising. It's likelier
to fill earlier, which will give you more time to cast and plan.
<li>You get a better chance at attracting the congoers who know that
it's smart to sign up early for events.
<li>You might miss your chance to bid at all if you wait.
</ul></td></tr></table>
</td></tr></table><div style="border-style: solid; border-color: red; padding: 1ex; margin-bottom: 2ex">
<b>Important Note:</b><br>
The policy of the The Great Burlesque Expo 2014 has changed this year. 
This year, time spent assisting the expo during run time as a teacher, 
panelist, perfomer, or other volunteer will be taken into consideration 
for 2015 discounts.  After the GBE has concluded, you can expect to hear the about 2015 discounts as part of our thank yous. 
If you are coming to the GBE purely to teach, 
please inform the teacher coordinator, <a href="mailto:Teachers13@burlesque-expo.com">Scandal from Bohemia</a>. via email and we will arrange a pass for you.
</p>
</div>
<font size="+1"><b>Update information for <I>Bugs in Burlesque</I></b></font><br>
<form method="POST" action="Bids.php">
<input type="hidden" name="Seq" value="1">
<input type="hidden" name="action" value="51">
<input type="hidden" name="BidId" value="115">
<input type="hidden" name="EditGameInfo" value="1">
<p><font color=red>*</font> indicates a required field
<TABLE BORDER=0>
  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>Class Information</B></TD></TR>
<input type="hidden" name="GameType" value="Class">
  <tr>
    <td align="right"><font color="red">*</font>&nbsp;Class:</td>
    <td align="left"><input type="text" name="Title" size="64" maxlength="128" value="Bugs in Burlesque" ></td>
  </tr>
<tr><td align=right>Teacher:</td>
<td>Betty Blaize</td></tr>
<input type="hidden" name="Author" value="Betty Blaize">
  <tr>
    <td align="right">Organization:</td>
    <td align="left"><input type="text" name="Organization" size="64" maxlength="64" value="test" ></td>
  </tr>
  <tr>
    <td align="right">Homepage:</td>
    <td align="left"><input type="text" name="Homepage" size="64" maxlength="128" value="test" ></td>
  </tr>
  <tr>
    <td align="right"><font color="red">*</font>&nbsp;Email for inquries/updates:</td>
    <td align="left"><input type="text" name="GameEMail" size="64" maxlength="128" value="bethlakshmi@gmail.com" ></td>
  </tr>
  <tr>
    <td align="right">Class Length (half-hour blocks): </td>
    <td align="left">
      <SELECT NAME=Hours SIZE=1 >
        <option value="1" selected>1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </SELECT>
<i>NOTE:  Workshops are generally booked as 2 hours, other classes are expected to be  shorter.
    </td>
  </tr>
  <tr>
    <td align="right">Class Type:</td>
    <td align="left">      <SELECT NAME=GameSystem SIZE=1 >
        <option value="No Preference" selected>No Preference</option>
        <option value="Movement">Movement</option>
        <option value="Lecture">Lecture</option>
        <option value="Workshop">Workshop</option>
      </SELECT>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      <font color="red">*</font>&nbsp;<b>Description</b>
 For use on the The Great Burlesque Expo 2014 website, in advertising <br>and in any schedule of events.
The description should be 1-2 of paragraphs.<br><br><br>
      <textarea name="Description" class="ckeditor" cols="80" rows="15" wrap="physical"  ><p>Sorry for this, but I&#39;m trying to find a mail bug.</p></textarea>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      <font color="red">*</font>&nbsp;A <b>short blurb</b> (50 words or less) to be used for
summary listings of convention events.
<br><br>
      <textarea name="ShortBlurb" class="ckeditor" cols="80" rows="4" wrap="physical"  ><p>Sorry for this, but I&#39;m trying to find a mail bug</p></textarea>
    </td>
  </tr>
  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>Class Size</B></TD></TR>
  <tr>
    <td colspan=2>
Enter the minimum, preferred and maximum number of participants for
your class.<br><br><ul>
<li><i>Minimum</i> - The minimum number of people required for your
class.  This guideline helps the convention meet both teacher 
expectations and class size needs. 
If you're not sure, make the minimum 1.<br></li>
<li><i>Preferred</i> - The ideal number of participants for your
 class.  If you're not sure, make this the same number
as the Maximum.<br></li>
<li><i>Maximum</i> - The maximum number of people that the class can
accomodate.<p></li></ul>
  <TR>
    <TD ALIGN=RIGHT>Size:</TD>
    <TD ALIGN=LEFT>
      Min:<INPUT TYPE=TEXT NAME=MinPlayersNeutral SIZE=3 MAXLENGTH=3 VALUE="0">&nbsp;&nbsp;&nbsp;
      Preferred:<INPUT TYPE=TEXT NAME=PrefPlayersNeutral SIZE=3 MAXLENGTH=3 VALUE="3">&nbsp;&nbsp;&nbsp;
      Max:<INPUT TYPE=TEXT NAME=MaxPlayersNeutral SIZE=3 MAXLENGTH=3 VALUE="3">
    </TD>
  </tr>
<input type="hidden" name="MinPlayersMale" value="0">
<input type="hidden" name="MaxPlayersMale" value="0">
<input type="hidden" name="PrefPlayersMale" value="0">
<input type="hidden" name="MinPlayersFemale" value="0">
<input type="hidden" name="MaxPlayersFemale" value="0">
<input type="hidden" name="PrefPlayersFemale" value="0">
  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>Other Information</B></TD></TR>
<input type="hidden" name="Genre" value="X">
<input type="hidden" name="OngoingCampaign" value="N">
  <tr>
    <td colspan=2>
&nbsp;<br>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      <b>Teachers & Assistant Teachers.</b>  This is a preliminary list.
You'll be asked to confirm fellow teachers if the class is confirmed.
The Great Burlesque Expo 2014.
Additional teachers are eligible for discounts, however a large 
number of teachers for a single event is likely to diminish the discount
level provided for the group.
<br>
      <textarea name="GMs" class="ckeditor" cols="80" rows="2" wrap="physical"  ><p>test</p></textarea>
    </td>
  </tr>
<input type="hidden" name="Premise" value="X">
  <TR>
    <TD COLSPAN=2>
      &nbsp;<BR>The Great Burlesque Expo 2014 is looking for convention content that is new and that
have successfully presented before, either at a convention, or elsewhere.
If this content has run before, where & when was that:<BR>
    <INPUT TYPE=TEXT NAME=RunBefore SIZE=80 MAXLENGTH=128 VALUE="">
    </TD>
  </tr>
<input type="hidden" name="CombatResolution" value="NoCombat">
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      What other classes have you taught?  What is your basis of expertise in this area?<br>
      <textarea name="OtherGames" class="ckeditor" cols="80" rows="5" wrap="physical"  ><p>tset</p></textarea>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Other Event Details (for example, materials fees or other needs)<br>
      <textarea name="OtherDetails" class="ckeditor" cols="80" rows="5" wrap="physical"  ><p>tset</p></textarea>
    </td>
  </tr>
  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>Restrictions</B></TD></TR>
  <tr>
    <td align="right">Movement Class </br>Floor Preference:</td>
    <td align="left">      <INPUT TYPE=RADIO NAME=SpaceRequirements  VALUE="Don't Care about Floor">  Don't Care about Floor<br>
      <INPUT TYPE=RADIO NAME=SpaceRequirements  VALUE="Carpet">  Carpet<br>
      <INPUT TYPE=RADIO NAME=SpaceRequirements  VALUE="Dance Floor">  Dance Floor<br>
      <INPUT TYPE=RADIO NAME=SpaceRequirements  VALUE="Both">  Both<br>
    </td>
  </tr>
  <tr>
    <td align="right">Lecture Class </br>Setup Preference:</td>
    <td align="left">      <INPUT TYPE=RADIO NAME=SpaceRequirements  VALUE="Don't Care about Seating">  Don't Care about Seating<br>
      <INPUT TYPE=RADIO NAME=SpaceRequirements checked="checked" VALUE="Lecture Style - tables and chairs face podium">  Lecture Style - tables and chairs face podium<br>
      <INPUT TYPE=RADIO NAME=SpaceRequirements  VALUE="Conversational - seating in a ring">  Conversational - seating in a ring<br>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Are there any physical restrictions imposed by your class?  For
example, level of dance experience, musical knowledge, computer skills, etc. 
explain.<br>
      <textarea name="PhysicalRestrictions" class="ckeditor" cols="80" rows="5" wrap="physical"  ><p>tset</p></textarea>
    </td>
  </tr>
<input type="hidden" name="Fee" value="N">
  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>Scheduling Information</B></TD></TR>
  <TR>
    <TD COLSPAN=2>
      The expo can schedule your class into the
      time slots available over the weekend.  The expo aims to
      create a power packed agenda of balanced content across a 
      wide selection time slots.  Your flexibility in
      scheduling your class is vital.<p>
      Please pick your top three preferences for when you'd like to
      run your game and be conservative in the use of 'Prefer Not'.
    </TD>
  </TR>
  <TR>
    <TD COLSPAN=2>
      <TABLE BORDER=1>
        <TR VALIGN=BOTTOM>
          <TH></TH>
          <TH>Saturday</TH>
          <TH>Sunday</TH>
        </tr>
        <TR ALIGN=CENTER>
          <TH>Morning</TH>
          <TD>
            <SELECT NAME=Saturday_Morning SIZE=1>
              <option value="" selected>Don't Care&nbsp;</option>
              <option value=1 >1st Choice&nbsp;</option>
              <option value=2 >2nd Choice&nbsp;</option>
              <option value=3 >3rd Choice&nbsp;</option>
              <option value=X >Prefer Not&nbsp;</option>
            </SELECT>
          </TD>
          <TD>
            <SELECT NAME=Sunday_Morning SIZE=1>
              <option value="" >Don't Care&nbsp;</option>
              <option value=1 selected>1st Choice&nbsp;</option>
              <option value=2 >2nd Choice&nbsp;</option>
              <option value=3 >3rd Choice&nbsp;</option>
              <option value=X >Prefer Not&nbsp;</option>
            </SELECT>
          </TD>
        </tr>
        <TR ALIGN=CENTER>
          <TH>Early Afternoon</TH>
          <TD>
            <SELECT NAME=Saturday_Early_Afternoon SIZE=1>
              <option value="" selected>Don't Care&nbsp;</option>
              <option value=1 >1st Choice&nbsp;</option>
              <option value=2 >2nd Choice&nbsp;</option>
              <option value=3 >3rd Choice&nbsp;</option>
              <option value=X >Prefer Not&nbsp;</option>
            </SELECT>
          </TD>
          <TD>
            <SELECT NAME=Sunday_Early_Afternoon SIZE=1>
              <option value="" >Don't Care&nbsp;</option>
              <option value=1 >1st Choice&nbsp;</option>
              <option value=2 selected>2nd Choice&nbsp;</option>
              <option value=3 >3rd Choice&nbsp;</option>
              <option value=X >Prefer Not&nbsp;</option>
            </SELECT>
          </TD>
        </tr>
        <TR ALIGN=CENTER>
          <TH>Late Afternoon</TH>
          <TD>
            <SELECT NAME=Saturday_Late_Afternoon SIZE=1>
              <option value="" >Don't Care&nbsp;</option>
              <option value=1 >1st Choice&nbsp;</option>
              <option value=2 >2nd Choice&nbsp;</option>
              <option value=3 selected>3rd Choice&nbsp;</option>
              <option value=X >Prefer Not&nbsp;</option>
            </SELECT>
          </TD>
          <TD>
            <SELECT NAME=Sunday_Late_Afternoon SIZE=1>
              <option value="" selected>Don't Care&nbsp;</option>
              <option value=1 >1st Choice&nbsp;</option>
              <option value=2 >2nd Choice&nbsp;</option>
              <option value=3 >3rd Choice&nbsp;</option>
              <option value=X >Prefer Not&nbsp;</option>
            </SELECT>
          </TD>
        </tr>
      </TABLE>
    </TD>
  </tr>
  <TR>
    <TD COLSPAN=2>
      While planning your class, please note that we 
      expect classes to end 10 minutes before the hour - making a 
      50, 80 or 110 minute class time.  This gives attendees time 
      to organize and be on time to their next class.
    </TD>
  </TR>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Are there any other scheduling constraints on your class?  For
example, are you proposing another class, panel, or performance? 
<br>
      <textarea name="SchedulingConstraints" class="ckeditor" cols="80" rows="5" wrap="physical"  ><p>test</p></textarea>
    </td>
  </tr>
  <TR>
    <TD COLSPAN=2>Are you willing to hold this class more than once at this convention?
      <select name=MultipleRuns SIZE=1>
        <option value=N SELECTED>No</option>
        <option value=Y >Yes</option>
      </select>
    </TD>
  </TR>   
  <TR><TD COLSPAN=2>&nbsp;</TD></TR>
<TR><TD COLSPAN=2 BGCOLOR="#CCFFFF"><B>&nbsp;<BR>Advertising Information</B></TD></TR>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      <font color="red">*</font>&nbsp;A short sentence for the class to be used to sell the class to the
general public.
<br>
      <textarea name="ShortSentence" class="ckeditor" cols="80" rows="2" wrap="physical"  ><p>asdf</p></textarea>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Are there any additional interesting things that
we can use when we do Shameless Plugs for the expo?  Do you
have a plug or advertising spiel you use when you
talk about the class that you can send or describe to us?<br>
      <textarea name="ShamelessPlugs" class="ckeditor" cols="80" rows="4" wrap="physical"  ><p>tset</p></textarea>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Are you going to any shows, events or other conventions where
you will advertise your class for The Great Burlesque Expo 2014?  If so, which ones?<br>
      <textarea name="GMGameAdvertising" class="ckeditor" cols="80" rows="4" wrap="physical"  ><p>test</p></textarea>
    </td>
  </tr>
  <tr>
     <td colspan="2">
      &nbsp;<br clear=all>
      Would you be willing to advertise The Great Burlesque Expo 2014 at these events, by
taking flyers, doing plugs for The Great Burlesque Expo 2014, or doing plugs for
other events at The Great Burlesque Expo 2014?  If so, what are you willing to do,
and when?<br>
      <textarea name="GMInterconAdvertising" class="ckeditor" cols="80" rows="4" wrap="physical"  ><p>test</p></textarea>
    </td>
  </tr>
  <TR>
    <TD COLSPAN=2>Do you want us to send you flyers to distribute?
      <select name=SendFlyers SIZE=1>
        <option value=N SELECTED>No</option>
        <option value=Y >Yes</option>
      </select>
    </TD>
  </TR>   
<br />
<b>Notice</b>:  Undefined index: currentDraft in <b>/Applications/MAMP/htdocs/src/GBE/Bids.php</b> on line <b>946</b><br />
<br />
<b>Notice</b>:  Undefined index: currentDraft in <b>/Applications/MAMP/htdocs/src/GBE/Bids.php</b> on line <b>951</b><br />
  <tr>
    <td colspan="2" align="center">
    <input type="submit" value="Update Bid">
    </td>
  </tr>
</TABLE>
</FORM>