{% extends 'base.tmpl' %}
{% load staticfiles %}

{% block title %}
   Review Bids
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/fonts/simple-line-icons.css">
{% endblock %}
{% block content %}


  <p class="vanilla">{{title}} </p>
  <h2 class="review-title">Bid Information for {{conference}}</h2>
  <br/>
      {% include "conference_picker.tmpl" %}
  <br/>
  <div><span class="error_row">Red text</span> indicates a user that has become inactive.</div>
  <div>Press the arrows to sort on a column.  To sort on an additional sub-order,
  press "Shift" to sort a secondary column.</div>
  <br/>
  <div>
    Toggle column(s):
    {% for header_item in header %}
      <a class="toggle-vis" data-column="{{ forloop.counter0 }}">
	{{ header_item }}</a>{% if not forloop.last %} - {% endif %}
    {% endfor %}
  </div>
  <br/>
  <table id="bid_review" class="order-column" cellspacing="0" width="100%">
    <thead>
      <tr class="bid-table">
      {% for header_item in header %}
        <th class="bid-table">{{ header_item }}</th>
      {% endfor %}
      {% for category in categories %}
	<th class="bid-table rotate-review"><div><span>
	{{ category.category }}
	</span></div></th>{% endfor %}
        <th class="bid-table rotate-review"><div><span>Average</span></div></th>
        <th class="bid-table rotate-review"><div><span>Action</span></div></th>
      </tr>
    </thead>
    <tfoot>
      <tr class="bid-table">
      {% for header_item in header %}
        <th class="bid-table">{{ header_item }}</th>
      {% endfor %}
      {% for category in categories %}
        <th class="bid-table rotate-review"><div><span>
	{{ category.category }}
	</span></div></th>
      {% endfor %}
        <th class="bid-table rotate-review"><div><span>Average</span></div></th>
        <th class="bid-table rotate-review"><div><span>Action</span></div></th>
      </tr>
    </tfoot>
    <tbody>
    {% for row in rows %}
      <tr class="bid-table {% if not row.bidder_active %}error_row{% endif %}">
        {% for value in row.bid %}<td class="bid-table">
          {{ value|linebreaks }}
        </td>{% endfor %}
 	{% for review in row.reviews %}<td class="bid-table">
          {{ review }}
 	</td>{% endfor %}
	<td class="bid-table">
          {{ row.total_average }}
 	</td>
        <td class="bid-table">
	 <div class="btn-group" role="group" aria-label="...">
	  <a href="{{ row.review_url }}" data-toggle="tooltip" title="Review Act">
           <button class="btn btn-default">
	    <i class="icon-like"></i> / <i class="icon-dislike"></i>
	</button></a></div></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <script>
  $(document).ready(function() {
    var table = $('#bid_review').DataTable({
        "columnDefs": [
            {
                "targets": [ 2 ],
                "visible": false,
            },]});

    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();

        // Get the column API object
        var column = table.column( $(this).attr('data-column') );

        // Toggle the visibility
        column.visible( ! column.visible() );
    } );
} );
  </script>
{% endblock %}
