{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
   Review Bids
{% endblock %}

{% block content %}


  <p class="vanilla">{{title}} </p>
  <h2 class="review-title">Act Tech Info</h2>

<span class="error_row">Highlighted text</span> reflects incomplete acts.<br>
WORK in progress - not all fields are complete!!!  Cues, Stage info, and Rehearsal info are TBD.
  
  {% if messages %}
      <script>
    alert("{% for message in messages %}{{message.tags|capfirst}}: {{message}}\n{% endfor %}");
      </script>
  {% endif %}


  <table class="bid-table">
    <tr class="bid-table">
      <th class="bid-table" rowspan=2>Act</th>
      <th class="bid-table" rowspan=2>Performer</th>
      <th class="bid-table" rowspan=2>Contact Email</th>
      <th class="bid-table" rowspan=2>Rehearsal Time</th>
      <th class="bid-table" colspan=2>Lighting Info</th>
      <th class="bid-table" colspan={{sub_header|length}}>Cue Info</th>
      <th class="bid-table" colspan=8>Audio Info</th>
      <th class="bid-table" colspan=7>Stage Info</th>
    </tr>
    <tr>
      <th class="bid-table">Describe Number</th>
      <th class="bid-table">Describe Costume</th>
      {% for header_item in sub_header %}
      <th class="bid-table">{{ header_item }}</th>
      {% endfor %}
      <th class="bid-table">Track Title</th>
      <th class="bid-table">Track Artist</th>
      <th class="bid-table">Track</th>
      <th class="bid-table">Song Length</th>
      <th class="bid-table">Need Mic</th>
      <th class="bid-table">Own Mic</th>
      <th class="bid-table">Sound Notes</th>
      <th class="bid-table">Confirm No Music</th>
      <th class="bid-table">Act Duration</th>
      <th class="bid-table">Intro Text</th>
      <th class="bid-table">No Props</th>
      <th class="bid-table">Preset Props</th>
      <th class="bid-table">Hand Me Props</th>
      <th class="bid-table">Clear Props</th>
      <th class="bid-table">Stage Notes</th>
    </tr>
    {% for act in acts %}

      
      <tr  {% if not act.tech.is_complete  %}class="error_row"{%else%} class="bid-table"{% endif %} >
	  <td class="bid-table">{{ act.title }}</td>	
	  <td class="bid-table">{{ act.performer }}</td>	
	  <td class="bid-table"><a href='mailto:{{act.performer.contact.user_object.email}}'>
            {{act.performer.contact.user_object.email}}</a></td>	
	  <td class="bid-table">&nbsp;</td>
	  <td class="bid-table">{{act.tech.lighting.notes}}</td>
	  <td class="bid-table">{{act.tech.lighting.costume}}</td>
          
	  <td class="bid-table">&nbsp;</td>
	  <td class="bid-table">&nbsp;</td>
	  <td class="bid-table">&nbsp;</td>
	  <td class="bid-table">&nbsp;</td>
	  <td class="bid-table">&nbsp;</td>
	  <td class="bid-table">&nbsp;</td>
	  <td class="bid-table">&nbsp;</td>
	  <td class="bid-table">&nbsp;</td>

          <td class="bid-table">{{act.tech.audio.track_title}}</td>
	  <td class="bid-table">{{act.tech.audio.track_artist}}</td>
	  <td class="bid-table">{{act.tech.audio.track}}</td>
	  <td class="bid-table">{{act.tech.audio.track_duration}}</td>
	  <td class="bid-table">{{act.tech.audio.need_mic}}</td>
	  <td class="bid-table">{{act.tech.audio.own_mic}}</td>
	  <td class="bid-table">{{act.tech.audio.notes}}</td>
	  <td class="bid-table">{{act.tech.audio.confirm_no_music}}</td>

	  <td class="bid-table" colspan=7>{{ act.title }}</td>
          
        
      </tr>

    {% endfor %}
  </table>
{% endblock %}

