
{% extends 'base.html' %}

{% block title %}
   Performer Edit
{% endblock %}

{% block content %}
  {% if form.errors %}
    <p style= "color:red"> There is an error on the form.  </p>

  {% endif %}
   <p class="vanilla">{{title}} </p>

   <form action="" method="post" enctype="multipart/form-data">

   {% include "form_table_wrapper.tmpl" %}
   <input type="submit" name="draft" value="Save Draft">
   <input type="submit" name="submit" value="Submit For Approval">
 
   </form>

{% endblock %}
