{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
   Review Bids
{% endblock %}

{% block content %}
  <p class="vanilla">{{title}} </p>
  <h2 class="review-title">Bid Information</h2>

  <table class="bid-table">
    <tr class="bid-table">
      {% for header_item in header %}
      <th class="bid-table">{{ header_item }}</th>
      {% endfor %}
    </tr>
    {% for row in rows %}
      <tr class="bid-table">
        {% for type, item in row %}
          {% if type = "bid" %}
            {% for bid in item %}
              {% for value in bid %}
          <td class="bid-table">
            {{ value }}
          </td>
              {% endfor %}
            {% endfor %}
          {% endif %}
          {% if type = "reviews" %}
          <td class="bid-table">
              {% for review in item %}
                <b>Reviewer:</b> {{ review.evaluator.display_name }}<br>
                <b>Recommendation:</b> {{ review.get_vote_display }}<br>
                <b>Comment:</b> {{ review.notes }}<br>
                {% if not forloop.last  %}<hr class="bid-table">{% endif %}
              {% endfor %}
          </td>
          {% endif %}
          {% if type = "id" %}
            <td class="bid-table">
              <a href="{{ review_path }}{{ item }}">Review</a>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endblock %}

