{% extends 'base.tmpl' %}
{% load staticfiles %}

{% block title %}
   Review Bids
{% endblock %}

{% block content %}


  <p class="vanilla">{{title}} </p>
  <h2 class="review-title">Bid Information</h2>

  
  {% if messages %}
      <script>
    alert("{% for message in messages %}{{message.tags|capfirst}}: {{message}}\n{% endfor %}");
      </script>
  {% endif %}


  <table class="bid-table">
    <tr class="bid-table">
      {% for header_item in header %}
      <th class="bid-table">{{ header_item }}</th>
      {% endfor %}
    </tr>
    {% for row in rows %}
      <tr class="bid-table">
              {% for value in row.bid %}
	        <td class="bid-table">
                  {{ value|linebreaks }}
          	</td>	
	      {% endfor %}
          {% if "Reviews" in header %}
          <td class="bid-table">
 	  {% for review in row.reviews %}
               {% if not forloop.first %}<hr/>{% endif %}
                <b>Reviewer:</b> {{ review.evaluator.display_name }}<br>
                <b>Recommendation:</b> {{ review.get_vote_display }}<br>
                <b>Comment:</b> {{ review.notes }}<br>
 	  {% endfor %}	
          </td>
          {% endif %}
          <td class="bid-table">
              <a href="{{ row.review_url }}">{% if row.action1 %}{{ row.action1 }}{% else %}Review{% endif %}</a>
              {%if row.edit_url%}
                <br>
                <a href="{{ row.edit_url }}">{% if row.action2 %}{{ row.action2 }}{% else %}Edit{% endif %}</a>
              {% endif %}
              {%if row.delete_url%}
                <br>
                <a href="{{ row.delete_url }}">{% if row.action2 %}{{ row.action3 }}{% else %}Delete{% endif %}</a>
              {% endif %}
          </td>

        
      </tr>
    {% endfor %}
  </table>
{% endblock %}

