{% extends 'base.tmpl' %}
{% load staticfiles %}

{% block title %}
   Review Bids
{% endblock %}

{% block content %}
  {% if form.errors %}
    <p style= "color:red"> There is an error on the form.  </p>
  {% endif %}
  <p class="vanilla">{{title}} </p>
  <div class="review-pane">
    <h2 class="review-title">Bid Information</h2>
     {% include "readonly_form_table.tmpl" %}

  </div>
  <div>
    <p><font color=red>*</font> indicates a required field
    </p>
    <div class=left_col>
      <form action="" method="post">
      {% include "form_table.html" %}
      <input type="submit" value="Submit Form"> 
      </form>
    </div>
    {% if actionURL %}
    <div class=bid_col><div class=side_box>
      <h2>Bid Control for Coordinator</h2>
        {% if actionform.errors %}
        <p style= "color:red"> There is an error on the form.  </p>
          {% for field in actionform.visible_fields %}
            <ul>
              {% if field.errors %}
              <li>{{ field.errors }}</li>
              {% endif %}
            </ul>
          {% endfor %}
        {% endif %}
        <form action="{{ actionURL }}" method="post">
        {% csrf_token %}
        <table>
          {{ actionform.as_table }}
        </table>
        <br><br>
        <input type="submit" value="Submit Form"> 
        </form>
    </div></div>
    {% endif %}
  </div>
{% endblock %}
