{% extends "base.html" %}
{% block title %}
  Great Burlesque Exposition: Propose a class
{% endblock %}

{% block content %}

   Thanks for your interest blah blah <br>

   <form action="" method="post">
   <table>
   {{ form}}
   </table>
   </form>

  

{% endblock %}
