{% extends "base.html" %}
{% block title %}
  Great Burlesque Exposition: Conference Classes
{% endblock %}

{% block content %}
   
   <H1>Class Descriptions 2012</H1>
   <div class=body>
     <p>
     The Conference at <b></b>The Great Burlesque Exposition</b> features more than 60 hours of
     class time over threee days.  It is the original Professional Development Conference for
     burlesque performers, founded on the philosophy that "If we don't take ourselves seriously,
     no one else will either".
     </p>
     <p>
     Whether you're looking to boost a skill set to the next level or develop some new skills,
     The Conference has something for you from costuming to publicity to philosophical
     discussions.  
     </p>
   </div>

   {% for class in classes %}
   <div class="classblock" id={{class.id}}>
      <h2 class="classheader">
      {{class.title}}
      </h2>
      <div class="ldetails">
	 <label class="classlabel">Taught by:</label> <i>teacher</i>
	 <br/>
	 <label class="classlabel">Time:</label> <i>January 1, 2015 - 3:00 PM, 
	 {% if class.duration %}{{class.duration}} (mm:ss)
	 {% else %}{{class.length_minutes}} minutes{% endif %}
	 </i><br/>
	 {%if not class.fee == 0%}
         <label class="classlabel">Fee:</label> {{class.fee}}
	 {%endif%}
      </div>
      <div class="ldesc">
	 {{class.description}}
      </div>
   </div>
   <hr class="classline">
   {% endfor %} 

{% endblock %}
