{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
   {{ page_title }}
{% endblock %}

{% block content %}
  <h2 class="review-title">{{ view_title }}</h2>
  <p>
  Please check the box and fill out the relevant information for any class or panel you might
  be interested in.
  </p>
  
  <form action="" method="post">
  {% csrf_token %}

  <table class="bid-table">
    <tr class="bid-table">
      {% for header_item in header %}
      <th class="bid-table">{{ header_item }}</th>
      {% endfor %}
    </tr>
    {% for row in rows %}
      <tr class="bid-table">
          {% for value in row.conf_item %}
	  <td class="bid-table">      
              {{ value }}
          </td>	
          {% endfor %}
          {# Include the visible fields #}
          {% for field in row.form.visible_fields %}
	  <td class="bid-form">
              {% if field.errors %}
              <font color="red">!</font>&nbsp;&nbsp;
              {% endif %}
              {{ field }}
              {% if field.errors %}
              </br>
              <font color="red">{{ field.errors }}</font>
              {% endif %}
          </td>
        {% endfor %}
        
        {# Include the hidden fields #}
        {% for hidden in row.form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  </br></br>
  <input type="submit" value="Submit"> 
  </form>
{% endblock %}

