Dear {{ name }},

The status of your {{ bid_type }} has been changed to {{ status }}. You can
always check the status of your submissions or your schedule by visiting
your personal pane on <a href='www.burlesque-expo.com'>
www.Burlesque-Expo.com</a>