{% extends "base.html" %}
{% load ticketing_filters %}
{% block title %}
  Great Burlesque Exposition: {{title}}
{% endblock %}

{% block content %}
   
   <H1>{{title}}</H1>
   <div class=body>
     {{view_header_text | safe}}
 
   </div>

   {% for event in events %}
   <div class="listblock" id={{class.id}}>
      <h2 class="listheader">
      {{event.sched_payload.title}}
      </h2>
      <div class="listdetails">
	 <label class="listlabel">Time:</label> <i>January 1, 2015 - 3:00 PM, 
	 {% if event.duration %}{{event.duration}} (mm:ss)
	 {% else %}{{event.length_minutes}} minutes{% endif %}
	 </i><br/>
	 {% for name, value in event.sched_payload.details.items %}
         <label class="listlabel">{{name}}:</label> {{value}}<br>
	 {% endfor %}
      </div>
      <div class="listdesc">
	 {{event.sched_payload.description}}
      </div>
      {% if show_tickets %}
      <div>
	<br>
	<b>Buy any of these tickets to get into this great event!</b><br>
	{% for ticket in event.get_tickets %}
	    <a href="http://www.brownpapertickets.com/event/ID-{{ user_id }}/{{ ticket.ticket_id|bpt_event }}/" target="_blank">
            {{ ticket.title }}
            </a>
	{% endfor %}
      </div>
      {% endif %}
   </div>
   <hr class="listline">
   {% endfor %} 

{% endblock %}
