{% extends "base.html" %}
{% block title %}
  Great Burlesque Exposition: Fashion Fair
{% endblock %}

{% block content %}
   
   <H1>A Header!</H1>
   <p>Some awesome text about the vendors and shopping, plus useful information about time and stuff. And maybe a mention of the fact that you can get food there. Some awesome text about the vendors and shopping, plus useful information about time and stuff. And maybe a mention of the fact that you can get food there. Some awesome text about the vendors and shopping, plus useful information about time and stuff. And maybe a mention of the fact that you can get food there.</p>
   <p>Some awesome text about the vendors and shopping, plus useful information about time and stuff. And maybe a mention of the fact that you can get food there. Some awesome text about the vendors and shopping, plus useful information about time and stuff. And maybe a mention of the fact that you can get food there. Some awesome text about the vendors and shopping, plus useful information about time and stuff. And maybe a mention of the fact that you can get food there.</p>
   <p>Some awesome text about the vendors and shopping, plus useful information about time and stuff. And maybe a mention of the fact that you can get food there. Some awesome text about the vendors and shopping, plus useful information about time and stuff. And maybe a mention of the fact that you can get food there. Some awesome text about the vendors and shopping, plus useful information about time and stuff. And maybe a mention of the fact that you can get food there.</p>

{% comment %}   
   <div class=vtable>
   {% for row in vendor_rows %}
      <div class=vrow>
      {% for vendor in row %}
      	 <div class=vendor>
	   <div class=vname>
	     {{vendor.title}}
	   </div>
	   <div class=vimg>
	   </div>
	   <div class=vdesc>
	     {{vendor.description}}
	   </div>
	 </div>
	{% endfor %}
      </div>
   {% endfor %} 
  </div>
{% endcomment %}

   <table class=vtable align=center>
   {% for row in vendor_rows %}
      <tr class=vrow>
      {% for vendor in row %}
      	 <td class=vendor>
	   <div class=vname>
	     <p align=center>{{vendor.title}}</p>
	   </div>
	   <div class=vimg>
	   <a href={{vendor.website}}>
	   	{% if vendor.logo %}
	   	<img src="/{{vendor.logo}}" width=75 style='display:block;margin: 0 auto;'>
		{% else %}
		<img src="/static/img/defaultvendorlogo.png" width=75 style='display:block;margin: 0 auto;'>
		{% endif %}
		  </a>
	   </div>
	   <div class=vdesc>
	     {{vendor.description}}
	   </div>
	 </td>
	{% endfor %}
      </tr>
   {% endfor %} 
  </table>

{% endblock %}
