{% extends 'gbe/bid_review_frame.tmpl' %}
{% block review_form %}
  </div>
  <div class="bid_review container">
    <div class="row">
    <div class="reviewer_col col-md-6 col-sm-12">
      <h2>Review Information</h2>
      <p><font color=red>*</font> indicates a required field</p>
      <form action="" method="post">
  {% for flex_eval in form %}
    {% include "form_table.tmpl" with form=flex_eval %}
  {% endfor %}
        <input type="submit" value="Submit Form"> 
      </form>
    </div>
{% endblock %}
