{% extends 'gbe/bid_review_frame.tmpl' %}
{% load staticfiles %}
{% block review_form %}
<div class="reviewer_col col-md-3 col-sm-12">
  <h2>Review Information</h2>
    <form action="" method="post">
      {% csrf_token %}
<table class="flex_review">
  <tr class="flex_review_row"><th>&nbsp;</th><th>N/A</th>
      <th>0</th><th>1</th><th>2</th><th>3</th><th>4</th><th>5</th>
  </tr>
  {% for flex_eval_form in form %}
    {% if form.non_field_errors %}
  <tr class="flex_review_row"><td>
  <font color="red">{{ form.non_field_errors }}</font>
  </td></tr>
    {% endif %}
    {% for field in flex_eval_form.visible_fields %}
    <tr class="flex_review_row"><td><label for="{{ field.name }}" class="control-label">	      
            {% if field.errors %}
              <font color="red">!&nbsp;&nbsp;
            {% endif %}
	    {{ field.label_tag }}
            {% if field.errors %}</font>{% endif %} 
            {% if field.help_text %}
                <span class="dropt" title="Help">
                <img src= "{% static "img/question.png" %}" alt="?"/>
                  <span style="width:200px;float:right;text-align:left;">
                  {{ field.help_text }}
                  </span>
                </span>
            {% endif %}
      </label></td>
      {{ field }}
    {% for hidden in flex_eval_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    </tr>
      {% if field.errors %}
    <tr class="flex_review_row">
 	    <label for="field.name">	      
              <font color="red">{{ field.errors }}</font>
            </label>
    </tr>
    {% endif %}
  {% endfor %}{% endfor %}
</table>
        <input type="submit" value="Submit Form"> 
      </form>
    </div>
{% endblock %}
{% block review_results %}{% if review_results %}
<div class="col-md-4 col-sm-12">
  <h2>Detailed Review Results</h2>
  <table class="flex_review" border="1">
    <tr class="flex_review_row">
        <th>&nbsp;</th>
      {% for reviewer in reviewers %}
        <th class="rotate"><div><span>{{reviewer}}</span></div></th>
      {% endfor %}
    </tr>
  {% for category, evaluations in review_results.items %}
    <tr class="flex_review_row">
      <td><b>{{ category.category }}</b>{% if category.help_text %}
        <span class="dropt" title="Help">
          <img src= "{% static "img/question.png" %}" alt="?"/>
            <span style="width:200px;float:right;text-align:left;">
              {{ category.help_text }}
            </span>
        </span>{% endif %}
      </td>
    {% for evaluation in evaluations %}
      <td>{{evaluation}}</td>
    {% endfor %}
    </tr>
  {% endfor %}
    </tr>
  </table>
</div>
{% endif %}{% endblock %}