<p>
{% if admin_message %}
    <font color=red>{{admin_message}}</font></br></br>
{% elif user.is_authenticated %} 
<p>

This is your personal homepage.  If you're logged in, you'll see all sorts of cool
stuff about you on the right-hand side of this page. Things like the status of your
submissions (acts and classes), your personal schedule (for classes you're teaching,
shows your performing in, or shifts you've volunteered for) and all sorts of other
cool stuff.
  {% if  user.profile.preferences.show_hotel_infobox %}
<br><hr><br>
Have you reserved your room at The Hyatt Regency Hotel yet? A single or double room is just $149 per night until January 19, 2015. Three or four people in a room are slighly more expensive. The hotel snew out last year! Don't get left out in the cnew!. Make or manage your reservation <a href = "https://aws.passkey.com/event/11159123/owner/371/home">on-line</a> or by calling the hotel at (617) 492-1234 and asking for "The Great Burlesque Exposition" rate.

  {% endif %}


{%else %}
<p>
This is your personal landing page, or it will be as soon as you  <a href='{% url 'gbe:register' %}'>create an account</a>. if you've already created an account, you just need to <a href = '{% url 'gbe:login' %}'>log in</a>.

Once you're logged in, the middle column will show you your personal schedule of events you're signed up for: rehearsals, shows, classes you're teaching, volunteer shifts, etc. and the right-hand column is where you can see acts and classes you've submitted, submit your tech info for acts, and <a href='{% url 'gbe:volunteer_create' %}'>volunteer for The Expo</a>.
{% endif %}
