   	 <h3>{% if profile.display_name %}
               {{ profile.display_name }}'s
             {% else %}
               Your
             {% endif %} Tickets
	 </h3>	
	 {% if tickets %}
	    {% for ticket in tickets %}
	      <span class='event'>{{ticket.title}} - {{ticket.number_of_tickets}} 
	      </span> <br>
	    {% endfor %}
	 {% else %}
	    No tickets have been purchased, if {{profile.purchase_email}} is not the email you used when
	    purchasing tickets, please contact us for an update.
	    <br>
	 {% endif %}

<br>
