<div class = "schedule_section">
  <h3>
    {% if profile.display_name %}
      {{ profile.display_name }}'s
    {% else %}
       Your
     {% endif %} 
       Schedule
  </h3>	
    {% for booking in bookings %}
      {% with cs=booking.eventitem.child.conference.status %}
        {% if cs != "completed" and not historical or cs == "completed" and historical %}
          {% ifchanged booking.eventitem.child.conference %}
	    <h4>{{booking.eventitem.child.conference}}</h4>
          {% endifchanged%}
          <div class='event'>
            {{booking.starttime}}, 
            <a href="{% url 'scheduler:detail_view' booking.eventitem.eventitem_id%}">
            {{ booking }}
	    </a> 
          </div>
        {%endif%}
      {% endwith %}
    {% empty %}
      {{ profile.display_name }} is not scheduled for anything at this time.
    {% endfor %}

</div>

