
   	<h3>{% if profile.display_name %}
            {{ profile.display_name }}'s
            {% else %}
            Your
            {% endif %} Stuff</h3>
	{% for alert in profile.alerts %}
	   <span class='alert'>{{alert|safe}}</a> <br>
	{% endfor %}
	<br>
	{% include 'gbe/profile/incl_performer.tmpl' %}	
	{% include 'gbe/profile/incl_acts.tmpl' %}
	{% include 'gbe/profile/incl_shows.tmpl' %}
	{% include 'gbe/profile/incl_classes.tmpl' %}
	{% include 'gbe/profile/incl_vendors.tmpl' %}
	{% include 'gbe/profile/incl_bids.tmpl' %}
