
<h3>
  {% if profile.display_name %}
    {{ profile.display_name }}'s
  {% else %}
    Your
  {% endif %} 
    Stuff
</h3>

{% if historical %}
<h4>
Showing Historical Bids
</h4>
<p>
These bids are not currently available for consideration. Click the "clone"
button to re-submit an act, class, or vendor bid in the current conference.
</p>
<p><a href="{% url 'gbe:home' %}">View current bids</a></p>
{% else %}
<p>
We are only showing bids for the current conference. If you have proposed
acts, classes, or vendors in previous years, 
<a href = "{% url 'gbe:home' %}?historical=1">click here</a>
</p>
{% endif %}

{% for alert in alerts %}
  <div class='alert'>{{alert|safe}}</a> <br><br> </div>
{% endfor %}
<br>
{% include 'gbe/profile/incl_performer.tmpl' %}	
{% include 'gbe/profile/incl_acts.tmpl' %}
{% include 'gbe/profile/incl_classes.tmpl' %}
{% include 'gbe/profile/incl_vendors.tmpl' %}
{% include 'gbe/profile/incl_volunteering.tmpl' %}
<br>      
{% include 'gbe/profile/incl_shows.tmpl' %}
<br>
{% include 'gbe/profile/incl_bids.tmpl' %}
