{% extends "base.html" %}
{% block title %}
   Profile View  
{% endblock %}

{% block content %}
   <div class='left_col'>
   	{% include 'gbe/incl_lp_left.tmpl' %}
   </div>
   {% if profile %}
   <div class='right_col'>
     <div class='side_box'>
   	{% include 'gbe/incl_lp_right.tmpl' %}
     </div>
    {% if bookings %}
     <div class='side_box'>
   	{% include 'gbe/incl_schedule.tmpl' %}
     </div>
     {% endif %}
   </div>

   {% endif %}
   

{% endblock %}
