{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
   Manage Users
{% endblock %}

{% block content %}
  <p class="vanilla">{{title}} </p>
  <h2 class="review-title">Manage Users</h2>

  <table class="bid-table">
    <tr class="bid-table">
      {% for header_item in header %}
      <th class="bid-table">{{ header_item }}</th>
      {% endfor %}
    </tr>
    {% for row in rows %}
      <tr class="bid-table">
              {% for value in row.profile %}
	                <td class="bid-table">      
            		{{ value }}
          		</td>	
		{% endfor %}
          <td class="bid-table">
              {%for action in row.actions %}
              <a href="{{ action.url }}">{% if action.text %}{{ action.text }}{% else %}Action{% endif %}</a><br>
              {%endfor%}
          </td>

        
      </tr>
    {% endfor %}
  </table>
{% endblock %}

