{% extends 'base.html' %}

{% block title %}
   Register For An Account
{% endblock %}

{% block content %}
<H3>Register for an Account</H3>

In order to do most other things at The Expo, we need you to register
for an account.  If you're planning on applying to perform, want to
teach, or are going to be a vendor or a volunteer, you need to
register.  You do <b>not</b> need to register if all you're doing is
buying tickets.


  {% if form.errors %}
    <p style= "color:red"> Looks like you screwed up. </p>

  {% endif %}
   <p class="vanilla">Register for an account </p>
   <form action="" method="post">
   {% csrf_token %}

   {% include "form_table.html" %}
   <input type="submit" value="Get Account"> 
   </form>

{% endblock %}
