{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
   {{page_title}}
{% endblock %}

{% block content %}
<h2>{{view_title}}</h2>
<p>Thank you for submitting your application to {{sub_verb}} at the Great Burlesque Exposition.
Your application will go to our panel of reviewers as soon as your submission fee has been paid. </p>

<p>Ahem.</p>

<p>Yes, about that. There is just one more detail to attend to. A small matter of the fee. 
If you follow the link below, you'll be discreetly whisked away to the Brown Paper Tickets site to pay your application fee. 

Some more blather here.


<a href='{{link}}'>Pay application fee</a>


Once you pay your application fee, your application details will be locked so the reviewers can review. 


Your token is {{token}}
Your tokenstring is {{token_string}}

{% endblock %}
