{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
   {{page_title}}
{% endblock %}

{% block content %}
<FONT SIZE="+2">Thank you for submitting your work for The Great Burlesque Expo!</FONT>

<P><font color=red>This draft has not yet been submitted.</font><P>

<H3>Fee has not been Paid</H3>

Thank you for participating in The Great Burlesque Exposition!  Our records show
that you have not paid your related fees.  You can pay at Brown Paper Tickets by
following the below link.<br><br>

If you have just paid the fee, please note it may take up to 5 minutes
to show in our system.  If, after 10 minutes, you continue to have problems, please mail
to <a href="mailto:registrar@burlesque-expo.com?subject=[Fee Payment problem]">The Registrar</a> for help with your problem.<br><br>

<a href="{{link}}" target="_blank">Make Payment at Brown Paper Tickets</a>

<br><br>The draft you've saved will appear in your home page - your application
details have been locked.  The conference committee will not review
your idea until you submit payment... so please be aware of our deadlines.<br>


{% endblock %}
