{% extends 'base.html' %}

{% block title %}
  GBE: Profile
{% endblock %}

{% block content %}
<p class="vanilla">We promise your profile will only be used by the Great Burlesque 
Exposition.  It will not be resold, but the Expo reserves the right to use your contact 
info to alert you to important aspects of the Expo, your ticket purchases, and any 
volunteer working, teaching, performances or other participation that you have selected 
to participate in.</p>
<form method="POST" action="/accounts/profile/" enctype="multipart/form-data">
    {% include "form_table.html" %}

     <input type="submit" value="Update my account"> 
   </form>


{% endblock %}
