{% extends "base.html" %}
{% block title %}
   Profile View  
{% endblock %}

{% block content %}
   <div class='left_col'>
   	{{ profile.display_name }}
	<br>
	{% for alert in profile.alerts %}
	   <span class='alert'>{{alert}}</a> <br>
	{% endfor %}
	<br>
	{% include 'gbe/profile/incl_performer.tmpl' %}	
	{% include 'gbe/profile/incl_acts.tmpl' %}
	{% include 'gbe/profile/incl_shows.tmpl' %}
	{% include 'gbe/profile/incl_classes.tmpl' %}
	{% include 'gbe/profile/incl_bids.tmpl' %}
   </div>
   

   <div class='right_col'>

   </div>
{% endblock %}
