	
	{% if shows %}
	   <span class='heading shows'>
	   	Shows {{ profile.display_name }} is appearing in:
	   </span><br>
	   {% for show in shows %}
	      <span class='show'> {{ show }} </span> <br>
	   {% endfor %}
	{% else %}
	   {{ profile.display_name }} is not scheduled for any shows at this time. <br>
	{% endif %}
