{% load cms_tags staticfiles sekizai_tags menu_tags gbe_tags hijack_tags %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% render_block "css" %}
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" 
        type="text/css" 
        href= {% static "styles/base.css" %} media="all"/> 
    <link rel="stylesheet" 
        type="text/css" 
        href= {% static "styles/gbe_bootstrap.min.css" %} media="all"/>
    <link rel="stylesheet" 
        type="text/css" 
        href= {% static "styles/gallery.css" %} media="all"/>
    <link rel="shortcut icon" 
        href= {% static "img/favicon.ico" %} 
	type="image/x-icon"/>
    <link rel="stylesheet" 
        type="text/css" 
	href="{% static 'hijack/hijack-styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
<!-- Latest compiled and minified CSS 
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
-->

<!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>

<!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



  </head>
  <body style="background-image: url({% static "img/curtains.jpeg" %})">
    <div class="container">
    {% cms_toolbar %}
    {% hijack_notification %}
 
    <div class='banner'>{% static_placeholder 'banner' %}
    </div>
     
      <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse"
 data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Menu:</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                {% show_menu 0 1 100 100 "menu.tmpl" %}
              </ul>
            </div>
      </div>
      <div class="main-content" >

        {% block content %}
        {% endblock content %}        
      </div>
      <div class='footer'>{% static_placeholder 'footer'%}</div>
    </div>
    {% render_block "js" %}

  </body>
</html>
