{% load staticfiles %}

<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href= {% static "img/favicon.ico" %} type="image/x-icon"/>
    <link rel="stylesheet" 
	  type="text/css" 
	  href= {% static "styles/base.css" %} media="all"/>
    <link rel="stylesheet" 
	  type="text/css" 
	  href= {% static "styles/menus.css" %} media="all"/>

  </head>
  <body>


    <div id="container">
      <div id="banner"> <a href="/"> <img src= {% static "img/GBE_PageBanner.png" %} 
			    alt="GBE Banner"/></a>
      </div>

      {% include "menubar.tmpl" %}
 
      <div id="main-content">
	<div id="left-sidebar" >
	  <p> Sidebar item </p>
	  <p> Sidebar item </p>
	  <p> Sidebar item </p>
	  <p> Sidebar item </p>
	</div>    
	
	<div id="middle">
          {% block content %}
          {% endblock %}
	</div>    
	
      </div>
    </div>
  </body>
</html>
