{% load staticfiles %}
{% load cms_tags sekizai_tags %}
<html>
  <head>
    <title>{% block title %} {% endblock %} AND {% page_attribute "page_title" %}</title>
    <link rel="shortcut icon" href= {% static "img/favicon.ico" %} type="image/x-icon"/>
    <link rel="stylesheet" 
	    type="text/css" 
	    href= {% static "styles/base.css" %} media="all"/>
    <link rel="stylesheet" 
	    type="text/css" 
	    href= {% static "styles/menus.css" %} media="all"/>
    {% render_block "css" %}
  </head>
  <body>


    <div id="container">
      <div id="banner"> <a href='{% url 'gbe:home' %}'> <img src= {% static "img/GBE_PageBanner.png" %} 
							         alt="GBE Banner"/></a>
      </div>

      {% include "menubar.tmpl" %}
 
 
      
      <div id="middle">
          {% block content %}
          {% endblock %}
	  </div>    
      
    </div>
    
    
      {% cms_toolbar %}
      {% placeholder base_content %}
      {% block base_content %}{% endblock %}
      {% render_block "js" %}
      
      
    {% render_block "js" %}
  </body>
</html>
