    <form action="{{ return_link }}" method="get" enctype="multipart/form-data">
    <select name="conf_slug" id="conf_slug">
      {% for slug in conference_slugs %}
        <option value = "{{ slug }}"> {{ slug }} 
	</option>
      {% endfor %}
    </select>
    <input type="submit" name="submit" value="Select conference">
    </form>