{% extends 'base.html' %}

{% block title %}
  GBE: Down for maintenance
{% endblock %}

{% block content %}


<H3>We'll be back in a few minutes</H3>
<br>The Great Burlesque Expo site is down for a few minutes while we make it better. Back in a flash!

{% endblock %}
