  <font color="red">{{ form.non_field_errors }}</font>

  <p>
    <font color=red>*</font> indicates a required field
    {% if not nodraft and draft_fields %}
      <br>
      <b>bold text</b> indicates a field required for saving a draft
    {% endif %}
  </p>
    {% for form in forms %}
    {% include "form_table.html" %}
    {% endfor %}
