  <font color="red">{{ form.non_field_errors }}</font>

  <p><font color=red>*</font> indicates a required field
  </p>
    {% for form in forms %}
    {% include "form_table.html" %}
    {% endfor %}
