{% comment %}
   Central nav bar for GBE. Included via base.html
{% endcomment %}    
      <div id='cssmenu'>
      <ul>
        <li class='active'><a href='{% url 'gbe:home' %}'><span>Home</span></a></li>
        <li class='has-sub'><a href='{% url 'scheduler:event_list' 'Show'%}'><span>Shows</span></a>
          <ul>
             <li><a href='http://www.burlesque-expo.com/rhinestone-revue'><span>Rhinestone Review</span></a></li>
             <li><a href='http://www.burlesque-expo.com/late-friday'><span>Late Friday</span></a></li>
             <li><a href='http://www.burlesque-expo.com/the-main-event'><span>The Main Event</span></a></li>
             <li><a href='http://www.burlesque-expo.com/sunday-showcase'><span>Sunday Showcase</span></a></li>
             <li class='last'><a href='http://www.burlesque-expo.com/special-guests'><span>Special Guests</span></a></li>
          </ul>
        </li>
        <li class='has-sub'><a href=''><span>The Conference</span></a>
          <ul>
             <li><a href='{% url 'scheduler:event_list' 'Panel'%}'><span>Panels</span></a></li>
             <li><a href='{% url 'scheduler:event_list' 'Class'%}'><span>Classes</span></a></li>
             <li><a href='{% url 'scheduler:event_list' 'Master'%}'><span>Master Class 2015</span></a></li>
             <li><a href='{% url 'gbe:class_create' %}'><span>Teach A Class</span></a></li>
          </ul>
        </li>
        <li class='has-sub'><a href='{% url 'scheduler:event_list' 'Special'%}'><span>Special Events</span></a>
          <ul>
             <li><a href='http://www.burlesque-expo.com/costumes'><span>Costumes</span></a></li>
             <li><a href='{% url 'scheduler:event_list' 'Drop-In'%}'><span>Free Classes!</span></a></li>
             <li><a href='http://www.burlesque-expo.com/parties'><span>Parties</span></a></li>
             <li><a href='http://www.burlesque-expo.com/the-art-show'><span>The Art Show</span></a></li>
             <li class='last'><a href='http://www.burlesque-expo.com/shopping'><span>Shopping</span></a></li>
          </ul>
        </li>
        <li class='has-sub'><a href={% url 'ticketing:index' %}><span>I Want To...</span></a>
          <ul>
             <li><a href='{% url 'ticketing:index' %}'><span>...Buy Tickets</span></a></li>
             <li><a href='{% url 'gbe:act_create' %}'><span>...Perform at the Expo</span></a></li>
             <li><a href='{% url 'gbe:vendor_create' %}'><span>...Sell My Stuff</span></a></li>
             <li><a href='{% url 'gbe:class_create' %}'><span>...Submit A Class</span></a></li>
             <li><a href='{% url 'gbe:volunteer_create' %}'><span>...Volunteer</span></a></li>
             <li><a href='http://www.burlesque-expo.com/be-an-artist'><span>...Be An Artist</span></a></li>
             <li><a href='{% url 'gbe:class_propose' %}'><span>...Suggest A Class or Panel</span></a></li>
             <li><a href='{% url 'gbe:conference_volunteer' %}'><span>...Be a Presenter</span></a></li>
              {% comment %}
             These are not ready for prime time.
             {% endcomment %}
             {% if user.username == "bethlakshmi" or user.username == "gbeadmin" %}
             <li><a href='{% url 'gbe:costume_display' %}'><span>Display Costume</span></a></li>
             <li><a href='{% url 'gbe:ad_create' %}'><span>Advertise</span></a></li>
             {% endif %}
             <li class='last'><a href='https://aws.passkey.com/event/11159123/owner/371/home'><span>Reserve a Hotel Room</span></a></li>
          </ul>
          <li class='has-sub last'><a href='http://burlesque-expo.com/getting-here'><span>Getting Here</span></a>
            <ul>
               <li><a href='http://www.burlesque-expo.com/directions'><span>Directions</span></a></li>
               <li class='last'><a href='https://aws.passkey.com/event/11159123/owner/371/home'><span>Reserve a Hotel Room</span></a></li>
            </ul>
          </li>
          
         <li><a href='{% url 'gbe:fashion_faire' %}'><span>Vintage Fashion Faire</span></a></li>


       {% if user.profile.special_privs %}

         <li class='has-sub'><a href=''><span>Special</span></a>
           <ul>
             {% for priv in user.profile.special_privs %}
               {% if priv.url and priv.url|length > 0 %}
               <li>
                 <a href='{{ priv.url }}'>
                   <span>{{ priv.title }}
                   </span>
		 </a>
	       </li>
               {% endif %}
	     {% endfor %}



	    {% if user.profile.special_privs.ticketing %}
            <li class='has-sub'><a href='{% url 'ticketing:index' %}'><span>Ticket Admin</span></a>
                <ul>
		{% for tpriv in user.profile.special_privs.ticketing %}
		<li> <a href='{{ tpriv.url }}'><span>{{tpriv.title}}</span></a> </li>
		{% endfor %}
                </ul>
            </li>
	    
          {% endif %}
</ul>
      {% endif %}
{% comment %}
                    <li><a href='{% url 'ticketing:ticketing_items' %}'><span>Ticket Items</span></a></li>
{% endcomment %}


   
      
       {% if user.is_authenticated %}
       <li class='has-sub'><a href='{% url 'gbe:logout' %}'><span>Logout</span></a>
          <ul>
             <li><a href='{% url 'gbe:profile_update' %}'><span>Update Profile</span></a></li>
          </ul>
       </li>
       {% else %}
       <li class='has-sub'><a href='{% url 'gbe:login' %}'><span>Login</span></a>
          <ul>
             <li><a href='{% url 'gbe:register' %}'><span>Register</span></a></li>
          </ul>
       {% endif %}
    </ul>
    </div>
