{% comment %}
   Central nav bar for GBE. Included via base.html
{% endcomment %}    
      <div id='cssmenu'>
      <ul>
        <li class='active'><a href='{% url 'gbe:home' %}'><span>Home</span></a></li>
        <li class='has-sub'><a href={% url 'ticketing:index' %}'><span>I Want To...</span></a>
          <ul>
             <li><a href='{% url 'ticketing:index' %}'><span>Buy Tickets</span></a></li>
             <li><a href='{% url 'gbe:act_create' %}'><span>Perform at the Expo</span></a></li>
             <li><a href='{% url 'gbe:class_create' %}'><span>Submit A Class</span></a></li>
             <li><a href='{% url 'gbe:class_create' %}'><span>Suggest A Class or Panel</span></a></li>
             <li><a href='{% url 'gbe:panel_volunteer' %}'><span>Sit On A Panel</span></a></li>
             <li><a href='{% url 'gbe:volunteer_create' %}'><span>Volunteer</span></a></li>
             <li><a href='{% url 'gbe:costume_display' %}'><span>Display Costume</span></a></li>
             <li><a href='{% url 'gbe:vendor_create' %}'><span>Sell My Stuff</span></a></li>
             <li><a href='{% url 'gbe:ad_create' %}'><span>Advertise</span></a></li>
             <li class='last'><a href='{% url 'gbe:reserve_hotel' %}'><span>Reserve a Hotel Room</span></a></li>
          </ul>
       </li>
       <li class='has-sub'><a href='/Show/Schedule'><span>Shows</span></a> 
          <ul>
             <li><a href='/DisplayEvent/1/'><span>Rhinestone Review</span></a></li>
             <li><a href='/DisplayEvent/2/'><span>Late Friday</span></a></li>
             <li><a href='/DisplayEvent/3/'><span>The Main Event</span></a></li>
             <li class='last'><a href='/Display/Event/4/'><span>Sunday Showcase</span></a></li> 
          </ul>
       </li>
       <li class='has-sub'><a href='/Conference'><span>The Conference</span></a>
          <ul>
             <li><a href='{% url 'scheduler:class_schedule' %}'><span>Class Schedule</span></a></li>
             <li><a href='{% url 'gbe:class_list' %}'><span>Class Descriptions</span></a></li>
             <li class='last'><a href='{% url 'gbe:bios_teacher' %}'><span>Teachers</span></a></li>
          </ul>
       </li>
       <li class='has-sub'><a href='{% url 'gbe:events_list' %}'><span>Events at GBE</span></a>
          <ul>
             <li><a href='{% url 'gbe:events_list' %}'><span>All Events</span></a></li>
             <li class='last'><a href='{% url 'scheduler:calendar' %}'><span>Schedule Of Events</span></a></li>
          </ul>
       </li>
       <li><a href='{% url 'gbe:fashion_faire' %}'><span>Vintage Fashion Faire</span></a></li>
       <li class='has-sub last'><a href='{% url 'gbe:about' %}'><span>About Us/Contact</span></a>
          <ul>
             <li><a href='{% url 'gbe:contact' %}'><span>Contact</span></a></li>
             <li class='last'><a href='{% url 'gbe:bios_staff' %}'><span>Staff</span></a></li>
          </ul>
       </li>

       {% if user.profile.special_privs %}

         <li class='has-sub'><a href='{% url 'gbe:special' %}'><span>Special</span></a>
           <ul>
             {% for priv in user.profile.special_privs %}
               <li>
                 <a href='{{ priv.url }}'>
                   <span>{{ priv.title }}
                   </span>
		 </a>
	       </li>   
	     {% endfor %}



	    {% if user.profile.special_privs.ticketing %}
            <li class='has-sub'><a href='{% url 'ticketing:index' %}'><span>Ticket Admin</span></a>
                <ul>
		{% for tpriv in user.profile.special_privs.ticketing %}
		<li> <a href='{{ tpriv.url }}'><span>{{tpriv.title}}</span></a> </li>
		{% endfor %}
                </ul>
            </li>
	    
          {% endif %}
</ul>
      {% endif %}
{% comment %}
                    <li><a href='{% url 'ticketing:ticketing_items' %}'><span>Ticket Items</span></a></li>
{% endcomment %}


   
      
       {% if user.is_authenticated %}
       <li class='has-sub'><a href='{% url 'gbe:logout' %}'><span>Logout</span></a>
          <ul>
             <li><a href='{% url 'gbe:profile_edit' %}'><span>Update Profile</span></a></li>
          </ul>
       </li>
       {% else %}
       <li class='has-sub'><a href='{% url 'gbe:login' %}'><span>Login</span></a>
          <ul>
             <li><a href='{% url 'gbe:register' %}'><span>Register</span></a></li>
          </ul>
       {% endif %}
    </ul>
    </div>
