{% comment %}
   Central nav bar for GBE. Included via base.html
{% endcomment %}    
      <div id='cssmenu'>
      <ul>
        <li class='active'><a href='/'><span>Home</span></a></li>
        <li class='has-sub'><a href='Schedule'><span>Shows</span></a>
          <ul>
             <li><a href='http://www.burlesque-expo.com/rhinestone-revue'><span>Rhinestone Review</span></a></li>
             <li><a href='http://www.burlesque-expo.com/late-friday'><span>Late Friday</span></a></li>
             <li><a href='http://www.burlesque-expo.com/the-main-event'><span>The Main Event</span></a></li>
             <li><a href='http://www.burlesque-expo.com/sunday-showcase'><span>Sunday Showcase</span></a></li>
             <li class='last'><a href='http://www.burlesque-expo.com/special-guests'><span>Special Guests</span></a></li>
          </ul>
        </li>
        <li class='has-sub'><a href='Conference'><span>The Conference</span></a>
          <ul>
             <li><a href='http://www.burlesque-expo.com/panels'><span>Panels</span></a></li>
             <li><a href='http://www.burlesque-expo.com/classes'><span>Classes</span></a></li>
             <li><a href='http://www.burlesque-expo.com/master-classes-2015'><span>Master Class 2015</span></a></li>
             <li class='last'><a href='/class/create/'><span>Teach a Class</span></a></li>
          </ul>
        </li>
       <li class='has-sub'><a href='Events'><span>Special Events</span></a>
          <ul>
             <li><a href='http://www.burlesque-expo.com/costumes'><span>Costumes</span></a></li>
             <li><a href='http://www.burlesque-expo.com/free-classes'><span>Free Classes!</span></a></li>
             <li><a href='http://www.burlesque-expo.com/parties'><span>Parties</span></a></li>
             <li><a href='http://www.burlesque-expo.com/the-art-show'><span>The Art Show</span></a></li>
             <li class='last'><a href='http://www.burlesque-expo.com/shopping'><span>Shopping</span></a></li>
          </ul>
       </li> 
        <li class='has-sub'><a href='/ticketing/'><span>I Want To...</span></a>
          <ul>
             <li><a href='/ticketing/'><span>...Buy Tickets</span></a></li>
             <li><a href='/act/create/'><span>...Perform at the Expo</span></a></li>
             <li><a href='/vendor/create'><span>...Sell My Stuff</span></a></li>
             <li><a href='/class/create/'><span>...Submit A Class</span></a></li>
             <li><a href='/volunteer/bid'><span>...Volunteer</span></a></li>
             <li><a href='http://www.burlesque-expo.com/be-an-artist'><span>...Be An Artist</span></a></li>
            <li><a href='/class/propose/'><span>...Suggest A Class or Panel</span></a></li>
             {% comment %}
             These are not ready for prime time, but we don't quite have a test site yet,
             Hiding them in a grotesque way until we do.
             {% endcomment %}
             {% if user.username == "bethlakshmi" or user.username == "gbeadmin" %}
             <li><a href='/bid/panelsit/'><span>Sit On A Panel</span></a></li>
             <li><a href='/bid/costume/'><span>Display Costume</span></a></li>
             <li><a href='/bid/ad/'><span>Advertise</span></a></li>
             {% endif %}
             <li class='last'><a href='https://aws.passkey.com/event/11159123/owner/371/home'><span>Reserve a Hotel Room</span></a></li>
          </ul>
       </li>



      <li class='has-sub last'><a href='About'><span>Getting Here</span></a>
          <ul>
             <li><a href='http://www.burlesque-expo.com/directions'><span>Directions</span></a></li>
             <li class='last'><a href='https://aws.passkey.com/event/11159123/owner/371/home'><span>Reserve a Hotel Room</span></a></li>
          </ul>
      </li>
      <li class='has-sub last'><a href='About'><span>About Us</span></a>
          <ul>
             <li><a href='http://www.burlesque-expo.com/roll-of-winners'><span>The Roll of Winners</span></a></li>
             <li class='last'><a href='http://www.burlesque-expo.com/get-in-touch'><span>Get In Touch</span></a></li>
          </ul>
       </li>

       {% if user.profile.special_privs %}

         <li class='has-sub'><a href='Special'><span>Special</span></a>
           <ul>
             {% for priv in user.profile.special_privs %}
               <li>
                 <a href='{{ priv.url }}'>
                   <span>{{ priv.title }}
                   </span>
		 </a>
	       </li>   
	     {% endfor %}



	    {% if user.profile.special_privs.ticketing %}
            <li class='has-sub'><a href='/ticketing/'><span>Ticket Admin</span></a>
                <ul>
		{% for tpriv in user.profile.special_privs.ticketing %}
		<li> <a href='{{ tpriv.url }}'><span>{{tpriv.title}}</span></a> </li>
		{% endfor %}
                </ul>
            </li>
	    
          {% endif %}
</ul>
      {% endif %}
{% comment %}
                    <li><a href='/ticketing/ticket_items'><span>Ticket Items</span></a></li>
{% endcomment %}


   
      
       {% if user.is_authenticated %}
       <li class='has-sub'><a href='/logout'><span>Logout</span></a>
          <ul>
             <li><a href='/update_profile/'><span>Update Profile</span></a></li>
          </ul>
       </li>
       {% else %}
       <li class='has-sub'><a href='/accounts/login'><span>Login</span></a>
          <ul>
             <li><a href='/accounts/register/'><span>Create an Account</span></a></li>
          </ul>
       {% endif %}
    </ul>
    </div>
