{% load thumbnail %}

    <!-- Gallery Section Start -->
    <section id="gallery" class="section">
      <div class="container">        
        <div class="col-md-12">
          <h2 class="section-title wow fadeInUp" data-wow-delay="0s">{{heading}}</h2>
        </div>
        <div class="gallery-wrap wow fadeInDown">
      {% for item in grid_items %}
        {% cycle '<div class="row">' '' '' '' %}
        <div class="col-sm-3 col-xs-12 gallery-pn">
            <div class="gallery-item">
              <div class="name">
	        {{item.name}}
	      </div>
              <a href="#">{% if item.img %}
		<img src="{% thumbnail item.img 250x250 crop upscale subject_location=item.img.subject_location %}" alt="">{% else %}
		<img src="{{STATIC_URL}}/img/defaultperfpromo.png" alt="">{% endif %}
              </a>
              <div class="overlay">
                <div class="icons">
                  {% if item.img %}
                  <a class="preview lightbox" href="{{item.img.url}}"><i class="icon-eye"></i></a>
                  {% endif %}
                  {% if request.user.is_superuser %}
                  <a class="lightbox below" href="/admin/gbe/performer/{{item.pk}}"><i class="icon-pencil"></i></a>{% endif %}
                  <a class="link" data-toggle="modal" data-target="#{{item.pk}}_modal" data-backdrop="true" href="#">
                    <i class="icon-share-alt"></i>
                  </a>
                </div>
              </div>
              <div class="modal fade" id="{{item.pk}}_modal" role="dialog">
              <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{item.name}}</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                  {% if item.img %}
		      <div class="col-xs-6 col-xs-push-6">
                         <a href="{{item.img.url}}">
		             <img src="{% thumbnail item.img 250x250 crop upscale subject_location=item.img.subject_location %}" alt="Photo" >
		         </a>
                      </div>
                      <div class="col-xs-6 col-xs-pull-6">
                  {% else %}
                      <div class="col-xs-12">
		  {%endif%}
                      {{item.bio | linebreaksbr}}
                  {% if item.homepage %}
 		      <br><br>
		      <b><a href="{{item.homepage}}" class="gallery_modal_icon"><i class="icon-link"></i>&nbsp;&nbsp; Website</a></b>
	          {% endif %}
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div></div></div>
            </div>
	</div>
        {% cycle '' '' '' '</div>' %}
      {% endfor %}
    <!-- Gallery Section End -->
