<!-- People Modal Start -->
              <div class="modal fade" id="{{item.pk}}_modal" role="dialog">
              <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{item.name}}</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                  {% if item.promo_image %}
		      <div class="col-xs-6 col-xs-push-6">
                         <a href="{{MEDIA_URL}}{{item.promo_image}}">
		             <img src="{{MEDIA_URL}}{{item.promo_mini}}" alt="Photo" >
		         </a>
                      </div>
                      <div class="col-xs-6 col-xs-pull-6">
                  {% else %}
                      <div class="col-xs-12">
		  {%endif%}
                      {{item.bio | linebreaksbr}}
                  {% if item.homepage %}
 		      <br><br>
		      <b><a href="{{item.homepage}}" class="gallery_modal_icon"><i class="icon-link"></i>&nbsp;&nbsp; Website</a></b>
	          {% endif %}
                      </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div></div></div>
<!-- People Modal End -->
