
    <!-- Gallery Section Start -->
    <section id="gallery" class="section">
      <div class="container">        
        <div class="col-md-12">
          <h2 class="section-title wow fadeInUp" data-wow-delay="0s">{{heading}}</h2>
        </div>
        <div class="gallery-wrap wow fadeInDown">
      {% for item in grid_items %}
        {% cycle '<div class="row">' '' '' '' %}
        <div class="col-sm-3 col-xs-12 gallery-pn">
            <div class="gallery-item">
              <div class="name">
	        {{item.name}}
	      </div>
              <a href="#">{% if item.promo_mini %}
	   	<img src="{{MEDIA_URL}}{{item.promo_mini}}" alt="">{% else %}
		<img src="{{STATIC_URL}}/img/defaultperfpromo.png" alt="">{% endif %}
              </a>
              <div class="overlay">
                <div class="icons">
                  {% if item.promo_image %}
                  <a class="preview lightbox" href="{{MEDIA_URL}}{{item.promo_image}}"><i class="icon-eye"></i></a>
                  {% endif %}
                  <a class="link" data-toggle="modal" data-target="#{{item.pk}}_modal" data-backdrop="true" href="#">
                    <i class="icon-share-alt"></i>
                  </a>
                </div>
              </div>
        {% include "people_modal.tmpl" %}
            </div>
	</div>
        {% cycle '' '' '' '</div>' %}
      {% endfor %}
    <!-- Gallery Section End -->
