   {% load staticfiles %}
    <table>
      {% for info in readonlyform %}
        <tr><td colspan=2><br><h3 class="readonlyform">{{info.prefix}}</h3></td></tr>
        {% for field in info %}
        <tr>
         <td>{{ field.label_tag }}
            {% if field.help_text %}
            <span class="dropt" title="Help">
              <img src= "{% static "img/question.png" %}" alt="?"/>
              <span style="width:200px;float:right;text-align:left;">
                {{ field.help_text }}
              </span>
            </span>
            {% endif %}
         </td>
         <td>
          {% if field.value %}
            {% if field.field.widget.input_type == "url" %}
              <a href="{{field.value}}">Go to {{ field.label }}</a>
            {% elif field.field.widget.input_type == "file" %}
              <a href="/{{field.value}}">Go to {{ field.label }}</a>
            {% else %}
              {{ field.value }}
            {% endif %}
          {% endif %} 
         </td>
        </tr>
        {% endfor %}
     {% endfor %}
    </table>
    
    