{% extends "base.tmpl" %}
{% load cms_tags %}

{% block base_content %}
  {% placeholder template_2a_content %}
  <div style="border: groove">
    {% placeholder template_2b_content %}
  </div>
{% endblock %}
