{% extends "base.tmpl" %}
{% load cms_tags %}

{% block content %}

<div class="colmask threecol">
     <div class="colmid">
	  <div class="colleft">
 	       <div class="col1">
                 {% placeholder middle_content %}
 	       </div>
 	       <div class="col2">
                  {% placeholder left_content %}
 	       </div>
 	       <div class="col3">
                  {% placeholder right_content %}
 	       </div>
	  </div>
     </div>
</div>
{% endblock content %}
