{% comment %}

included in event edit flow. Show WorkerAllocationForms

{% endcomment %}

<div class=side_box>
  <h2>Volunteer Allocation </h2>
  <p>Note that removing the worker name will remove the original worker from the volunteer assignments.</p>
  <table>
    <tr> 
    {% for header in worker_alloc_headers %}
      <th> {{ header }} </th>
    {% endfor %}
      <th>Action</th>
    </tr>
    {% for form in worker_alloc_forms %}
    <tr class="event_edit_row">
      <form method="POST" action="{% url 'scheduler:allocate_workers'  opp_id %}" 
      	    enctype="multipart/form-data">
        {% csrf_token %}
	{% for field in form.visible_fields %}
	  <td>
          {% if field.errors %}
            <font color="red">!</font>&nbsp;&nbsp;
          {% endif %}
            {{ field }}
          {% if field.errors %}
            </br>
            <font color="red">{{ field.errors }}</font>
          {% endif %}
	  </td>
	{% endfor %}	    	
	{% for field in form.hidden_fields %}
	  {{field}}
	{% endfor %}
	  <td>  <input type = "submit" name="edit" value="Edit/Create Allocation"></td>
	  {% if form.alloc_id.value > 0  %}
	  <td>  <input type = "submit" name="delete" value="Delete Allocation"></td>
	  {% endif %}
      </form>	      
    </tr>
    {% endfor %}

  </table>
  <hr>
  <h2>Volunteer Info</h2>
  <table>
	<tr>
		<td> 
		     All Volunteers<br>
			<form action = "{% url 'gbe:volunteer_review' 0 %}" method = 'POST'>
			      {% csrf_token %}
				<select id = 'volunteer' name = 'volunteer'>
				{% for vol in all_volunteers %}
				   <option value = {{vol.id}}> {{ vol }} </option>
				{% endfor %}
				</select> <br>
				<input type = "submit" name = "review_all" value = "Review Volunteer">
				
							
			</form>
		</td>	
		<td>
			Interested Volunteers<br>
			<form action = "{% url 'gbe:volunteer_review' 0 %}" method = 'POST'>
			      	{% csrf_token %}	      	     
				<select id = 'volunteer' name = 'volunteer'>
				{% for vol in interested_volunteers %}
				   <option value = {{vol.id}}> {{ vol }} </option>
				{% endfor %}
				</select><br>
				<input type = "submit" name = "review_interested" value = "Review Volunteer">
				
							
			</form>

		</td>
			
				
  </table>
  <br><br>
</div>

