<li class='has-sub'><a href="{% url 'scheduler:calendar_view_day'  'All' 'Saturday' %}"><span>Calendar</span></a>
    <ul>
        <li class='has-sub'><a href="{% url 'scheduler:calendar_view_day'  'All' 'Friday' %}"><span>Friday</span>
            <ul>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Show' 'Friday' %}"><span>Shows</span></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Panel' 'Friday' %}"><span>Panels</span></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Movement' 'Friday' %}"><span>Movement Classes</span></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Lecture' 'Friday' %}"><span>Lectures</span></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Workshop' 'Friday' %}"><span>Workshops</span></li>
            </ul>
        </li>
        <li class='has-sub'><a href="{% url 'scheduler:calendar_view_day'  'All' 'Saturday' %}"><span>Saturday</span>
            <ul>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Show' 'Saturday' %}"><span>Shows</span></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Panel' 'Saturday' %}"><span>Panels</span></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Movement' 'Saturday' %}"><span>Movement Classes</span></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Lecture' 'Saturday' %}"><span>Lectures</span></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Workshop' 'Saturday' %}"><span>Workshops</span></li>
            </ul>
        </li>
        <li class='has-sub'><a href="{% url 'scheduler:calendar_view_day'  'All' 'Sunday' %}"><span>Sunday</span>
            <ul>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Show' 'Sunday' %}"><span>Shows</span></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Panel' 'Sunday' %}"><span>Panels</span></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Movement' 'Sunday' %}"><span>Movement Classes</span></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Lecture' 'Sunday' %}"><span>Lectures</span></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Workshop' 'Sunday' %}"><span>Workshops</span></li>
            </ul>
        </li>
    </ul>
</li>
