{% extends "base.tmpl" %}
{% load staticfiles %}
{% block title %}
  Great Burlesque Exposition: {{eventitem.event.payload.title}}
{% endblock %}

{% block head %}
      {% include "gray_grids_css.tmpl" %}
{% endblock head %}

{% block content %}
{% if tickets %}
  <div class="sched_block font_regular">
  {% include "ticket_link.tmpl" %}
  </div>
{% endif %}  
    <H1 class="sched_detail_title">{{eventitem.event.payload.title}}</H1>
    <div class="sched_block font_regular">
      <div class="sched_desc">
	{{eventitem.event.payload.description |safe}}
        <div class="sched_details">
        {% for name, value in eventitem.event.payload.details.items %}
        <label class="sched_detail">
	{% autoescape off %}
	  {% for label_name, label_value in eventitem.labels.items%}
	       {% if name == label_name %}
	          {{label_value}}:
	       {% endif %}
	  {% empty %}
	      {{value |safe}}:
	  {% endfor %}
	</label> {{value |safe }}<br>
	{% endautoescape %}
        {% endfor %}

        </div>
      </div>
      {% if eventitem.scheduled_events %}
      <div class="sched_times">
	  {% for sched_event in eventitem.scheduled_events %}
	    <label class="sched_detail">Time:</label>  {{ sched_event.start_time|date:_("DATETIME_FORMAT")}} - {{ sched_event.end_time|date:_("TIME_FORMAT")}}<br>
	      <label class="sched_detail">Location:</label>  {{ sched_event.location }}<br>
            {% if not forloop.last %}
	    <br>
	    {%endif%}
	  {% endfor %}
      </div>
      {% endif %}

    </div>
    {% if eventitem.bio_grid_list %}
      {% include "people_gallery.tmpl" with heading="Check out our fabulous Performers!" grid_items=eventitem.bio_grid_list%}

    {% elif eventitem.event.roles %}
    <div class="bio_block font_regular container">
      {% for worker in eventitem.event.roles %}
      <div class="row bio_row">
        {% ifchanged worker.workeritem %}
        <div class="col-md-9 col-sm-8 col-xs-12">
  	  {%if worker.role == "Staff Lead"%}
	    <h2 class="bio_name subtitle">{{worker.role}} - {{worker.workeritem}}</h2>
          {%else%}
            <h2 class="subtitle">About the {{worker.role}} - {{worker.workeritem.name}}</h2>
            {{worker.workeritem.bio |linebreaksbr}}
	  {%endif%}
        <br><br>
        </div>
        {% if worker.workeritem.promo_mini %}
          <div class="col-md-3 col-sm-4 col-xs-12">
          <img src="{{MEDIA_URL}}{{worker.workeritem.promo_mini}}">
          </div>
        {% endif %}
      {%endifchanged%}
      </div>
      {% endfor %}
      </div>
    {% elif eventitem.event.bios %}
    <div class="bio_block font_regular container">
      {% for bio in eventitem.event.bios %}
      <div class="row bio_row">
        <div class="col-md-9 col-sm-8 col-xs-12">
        <h2 class="bio_name subtitle">About {{bio.name}}</h2>
        {{bio.bio |linebreaksbr}}
        <br><br>
        </div>

       {% if bio.promo_mini %}
          <div class="col-md-3 col-sm-4 col-xs-12">
            <img src="{{MEDIA_URL}}{{bio.promo_mini}}">
          </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}


  <div style="height: 300px">&nbsp;</div>
{% endblock %}
