{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
   Events List
{% endblock %}

{% block content %}
  <p class="vanilla">{{title}} </p>
  <h2 class="review-title">Events Information</h2>

  <table class="events-table">
    <tr class="events-table">
      {% for header_item in header %}
        <th class="event-table">{{ header_item }}</th>
      {% endfor %}
    </tr>
    {% for event in events %}
      <tr class="event-table">

	                <td class="event-table">      
            		{{ event.title }}
          		</td>	

	                <td class="event-table">      
			   {{ event.location  }}
          		</td>	
	                <td class="event-table">      
            		{{ event.start_time }}
          		</td>	
	                <td class="event-table">      
            		{{ event.duration }}
          		</td>	
	                <td class="event-table">      
            		{{ event.type }}
          		</td>	
	                <td class="event-table">      
            		<a href='{{ event.detail }}'>Detail</a>
          		</td>	
	                <td class="event-table">      
            		<a href='{{ event.edit }}'>Edit</a>
          		</td>	

      </tr>
    {% endfor %}
  </table>
{% endblock %}

