{% comment %}

included in event edit flow. If there is an actionform, show it

{% endcomment %}



<div class=side_box>
  <h2>Volunteer Management </h2>
  <table class="event_opps">
    <tr> 
    {% for header in actionheaders %}
      <th> {{ header }} </th>
    {% endfor %}
      <th>Action</th>
    </tr>
    {% for form in actionform %}
    <tr class="event_opp_row">
      <form method="POST" action="{% url 'scheduler:manage_opps'  event_id %}" 
      	    enctype="multipart/form-data">
        {% csrf_token %}
	{% for field in form.visible_fields %}
	  <td>
          {% if field.errors %}
            <font color="red">!</font>&nbsp;&nbsp;
          {% endif %}
            {{ field }}
          {% if field.errors %}
            </br>
            <font color="red">{{ field.errors }}</font>
          {% endif %}
	  </td> 	{% endfor %}	    	
	{% for field in form.hidden_fields %}
	  {{field}}
	{% endfor %}
	  <td>  <input type = "submit" name="edit" value="Edit Opportunity"><br>
	  	<input type = "submit" name="duplicate" value="Duplicate Opportunity"><br>
	        <input type = "submit" name="delete" value="Delete"></br>
	        <input type = "submit" name="allocate" value = "Allocate Workers">
	  </td>
      </form>	      
    </tr>
    {% endfor %}
    <tr class="event_opp_row">
      <form method="POST" action="{% url 'scheduler:manage_opps' event_id  %}" 
      	    enctype="multipart/form-data">
        {% csrf_token %}
	{% for field in createform.visible_fields %}
	  <td>
          {% if field.errors %}
            <font color="red">!</font>&nbsp;&nbsp;
          {% endif %}
            {{ field }}
          {% if field.errors %}
            </br>
            <font color="red">{{ field.errors }}</font>
          {% endif %}
	  </td>
	{% endfor %}	    		      
 	<td>  <input type = "submit" name="create" value="Create Opportunity"></td>

      </form>	      
    </tr>
  </table>
  <table> 
  <tr>
  <td><a href="{%url 'scheduler:contact_info' event_id 'Worker' %}">Contact volunteers</a>
  </td>
  <td>|| <a href="{%url 'reporting:staff_area' eventitem.event.eventitem_id %}">See Schedule</a>
  </td>
  </tr>
  </table>
  <br><br>
</div>
