{% extends "base.tmpl" %}
{% block title %}
   Select Event Type
{% endblock %}

{% block content %}

<h3> Select event type to schedule</h3>
   <form action="" method="post" enctype="multipart/form-data">
   {% csrf_token %}
<select name = "event_type" id="event_type">
{% for name in type_options   %}
    <option value="{{ name }}">{{ name }}</option>
{% endfor %}
</select>
<br>
   <input type="submit" name="submit" value="Submit">

</form>

<hr>
<table>
    <tr>
      <td>
        <a href="{%url 'scheduler:contact_by_role' 'Teachers' %}">
	  Contact teachers/panelists/moderators
	  </a>
	</td>
      </tr>
    <tr>
      <td>
        <a href="{%url 'scheduler:contact_by_role'  'Performers' %}">
	  Contact performers
	</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="{%url 'scheduler:contact_by_role'  'Volunteers' %}">
	  Contact volunteers
	</a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="{%url 'scheduler:contact_by_role'  'Vendors' %}">
	  Contact vendors
	</a>
      </td>
  </tr>
</table>
{% endblock %}
