# Bare minimum
django-cms==3.1.1

# These dependencies are brought in by django CMS, but if you want to
# lock-in their version, specify them
Django==1.6.11

South
django-mptt==0.6.1
django-sekizai
django-classy-tags
djangocms-admin-style==0.2.7
html5lib
six
easy_thumbnails
django-polymorphic  # dependancy for cmsplugin-filer
django-tinymce==1.5.3

# Optional, recommended packages
Pillow>=2
django-filer==0.9.11
django-reversion==1.8.7
mysql-python
reportlab
djangocms-text-ckeditor==2.5.2
djangocms_style
djangocms_column
# djangocms_file
djangocms_flash
djangocms-googlemap==0.2
djangocms_inherit
djangocms_link
djangocms_picture
djangocms_teaser
djangocms_video
djangocms_snippet

djangocms-placeholder-attr
cmsplugin_nivoslider
django_nose
-e git://github.com/bethlakshmi/cmsplugin-image-gallery.git#egg=image_gallery
pytz
django-treebeard

django-model-utils
factory_boy
mock
