# Bare minimum
django-cms==3.1.1

# These dependencies are brought in by django CMS, but if you want to
# lock-in their version, specify them
Django==1.6.5

South
django-mptt==0.6.1
django-sekizai
django-classy-tags
html5lib
six
easy_thumbnails
django-polymorphic  # dependancy for cmsplugin-filer
django-tinymce

# Optional, recommended packages
Pillow>=2
django-filer
django-reversion==1.8.7
mysql-python
reportlab
 
cmsplugin-bootstrap-carousel==0.2.2
cmsplugin-filer==0.10.1
-e git://github.com/bethlakshmi/cmsplugin-image-gallery.git@53f60e1624e0785ad0fe09396dd49c555038c138#egg=cmsplugin_image_gallery-master
cmsplugin-nivoslider==0.5.9
djangocms-admin-style==0.2.5
djangocms-column==1.5
djangocms-file==0.1
djangocms-flash==0.2.0
djangocms-googlemap==0.2
djangocms-inherit==0.1
djangocms-link==1.5
djangocms-picture==0.1
djangocms-placeholder-attr==1.0.3
djangocms-snippet==1.5
djangocms-style==1.5
djangocms-teaser==0.1
djangocms-text-ckeditor==2.4.3
djangocms-video==0.1


django_nose
pytz
django-treebeard

django-model-utils
factory_boy
mock
