	{% if acts %}
	   <span class='heading acts'>
	       <b>Act Bids</b>
	   </span><br>
	   {% for act in acts %}
	      <span class='act'>
	       {% if act.submitted %}<a href = '{% url 'act_view' act.id %}'> {{ act }} </a>(Click to view)<br>
	       {% else %}<a href = '{% url 'act_edit' act.id%}'> {{ act }} </a>(Click to edit)<br>
	       {% endif %}

	      </span> 
	         
	      {% for alert in act.alerts %}
	      	<span class='alert'> {{ alert|safe}}</span> <br>	      	 
	      {% endfor %}

	   {% endfor %}
	   <ul class="rightsidebar">
	     <li><a href='{% url 'act_create' %}'>Propose another act</a></li>
	   </ul>
	{% else %}
	   {{ profile.display_name }} has no acts listed.
	   
	   <ul class="rightsidebar">
	     <li><a href='{% url 'act_create' %}'>Propose an act</a></li>
	   </ul>
	{% endif %}
