	{% if classes %}
	   <span class='heading classes'> 
	    {{ profile.dispay_name }} has proposed these classes
	   </span><br>
	   {% if review_items %} {% for class in classes %}
	     <span class='class'>{{ class }} </span> <br>
	  {% endfor %}
	  {%endif %}
	{% else %}
	   {{ profile.display_name }} has not proposed any classes
	{% endif %}
