{% if performers %}
	  <span class='heading performers'> 
	   <b>Performer Items</b>
	   </span><br>
    {% if performers %}
        {% for performer in performers %}
	     <span class='performer'><a href='{% url 'persona_edit' performer.id %}'>{{ performer }}
	     	   	</a> </span>(Click to edit) <br>
	    {% for alert in performer.alerts %}
	     	<span class='alert'>{{alert | safe}} </span><br>
	    {% endfor %}
        {% endfor %}
     {%endif%}
     {% else %}
	   {{ profile.display_name }} has no stage personae listed.<br>
{% endif %}
         <ul class="rightsidebar">
	   <li><a href='{% url 'gbe:persona_create' %}'>Create a new stage persona</a><br></li>
	   <li><a href='{% url 'gbe:troupe_create' %}'>Create a troupe</a><br></li>
	   <li><a href='{% url 'gbe:combo_create' %}'>Create a combo</a><br></li>
	 </ul>
	 <br>
