{% if performers %}
	  <span class='heading performers'> 
	   Performer Items
	   </span><br>
    {% if performers %}
        {% for performer in performers %}
	     <span class='performer'><a href='/persona/edit/{{ performer.id }}'>{{ performer }}
	     	   	</a> </span>(click to edit) <br>
	    {% for alert in performer.alerts %}
	     	<span class='alert'>{{alert | safe}} </span><br>
	    {% endfor %}
        {% endfor %}
     {%endif%}
     {% else %}
	   {{ profile.display_name }} has no stage personae listed.  
{% endif %}
	   <a href='/performer/create/'>Create a new stage persona</a><br>
	   <a href='/troupe/create/'>Create a troupe</a><br>
	   <a href='/combo/create/'>Create a combo</a><br>
	   <br>
