/* Base CSS styling for burlexpo */
body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}


div.container {
    top:0;
}

    
div.banner {
  left: 0px;
  top: 0px;
  padding: 10px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}


.big_block {
  width: inherit;
  box-sizing: initial;
}

div.banner > a > img {
    display: block;
    margin: auto;
}

div.footer{
  color:#FFF;
  margin: 0px;
  text-align: center;
  font-size: 11px;
  line-height: 16.5px;
  font-family: Lucida Grande,Tahoma,Verdana,sans-serif;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  letter-spacing: normal;
}

div.login_text{
  padding: 5px;
}

p.error {
  color: red;
}
div#middle {
    /* The menu scrolls are ugly and driving me crazy.  Change back if you want guys. -MDB */
    
    /* overflow:scroll; */
    overflow: hidden;
    padding: 10px 3px 10px 20px;
}

.special_functions
{
    width:27%;
    align: right;
    display: inline-block;
    border-style: double;
    background: white;
    border-radius: 8px;
    padding: 8px;
    float: right;
}

div.left_col {
    width:52%;
    float:left;
    padding: 10px;
    bottom: 10%;
}

div.right_col {
    width:46%;
    float:right;
    bottom: 10%;
}

table.conf_list {
    width: 100%;
}

div.reviewer_col{
    width:35%;
    margin: 10px;
    padding: 10px;
    bottom: 10%;
  
}
div.bid_col {
    width:55%;
    float:right;
}


div.side_box {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

/* used in bid review and readonly forms */
div.review-pane {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: #E3E3E3;
}

h2.review-title
{
    margin: 0px;
    padding: 0px;
}

h3.readonlyform
{
    margin: 0px;
    padding: 0px;
}

.sched-table
{
    border: 1px solid black;
    border-collapse:collapse;
    padding: 2px;
    vertical-align: top;
 }
 
 .sched-header
{
    border: 1px solid black;
    border-collapse:collapse;
    color: white;
    background-color: maroon;
    padding: 2px;
    vertical-align: top;
 }
 
.bid-table
{
    border: 1px solid black;
    border-collapse:collapse;
    padding: 2px;
    vertical-align: top;
 }
 
.bid-form
{
    border: 1px solid black;
    border-collapse:collapse;
    padding: 2px;
    text-align: center;
 }
.error_row
{
    color: red;
}
.errorlist
{
    color: red;
}

.how_volunteer
{
    width: 125;
 }
 
hr.bid-table
{
    border: 0; height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
}


/*used for help text*/
span.dropt {border-bottom: background: white;}
span.dropt:hover {text-decoration: none; background: #ffffff; z-index: 6; }
span.dropt span {position: absolute; left: -9999px;
  margin: 20px 0 0 0px; padding: 3px 3px 3px 3px;
  border-style:solid; border-color:black; border-width:1px; z-index: 6;}
span.dropt:hover span {left: 30%; background: #ffffff;} 
span.dropt span {position: absolute; left: -9999px;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; 
  border-style:solid; border-color:black; border-width:1px;}
span.dropt:hover span {margin: 0px 0 0 0px; background: #ffffff; z-index:6;} 

.ticketing
{
    border: 2px solid black;
    padding: 2px;
}

.ticket_item
{
    padding: 4px;
}

.header
{
    background-color: #B28E8E;
    color: white;
    font-size: larger;
    font-weight: bold;
}
.dark_row
{
    font-weight: bold;
    background-color: #D5BBBB;
}

.visible
{
    font-weight: bold;

}
/* Fashion Fair display of vendors.  Also not bad for performers... */

.vtable
{
  border: 1px solid black;
  border-collapse: collapse;
}

div.vimg
{
  padding: 10px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  
}

.vaddress
{
  font-size:12px;
  font-family: sans-serif;
  font-style: italic;
  text-align:center;
}

.vname
{
  font-size:20px;
  font-family: "TwentiethCenturyPoster";
  font-weight: bold;
  text-align:center;
  text-transform: capitalize;
}

.vheader
{
  border:solid 2px black;
}

.vheadertext
{
  font-size:24px;
  font-family: sans-serif;
  font-weight: bold;
  text-align:center;
  text-transform: capitalize;
}

div.vname
  {
    height: 40px;
    vertical-align: middle;
    background: -webkit-linear-gradient(0deg, WhiteSmoke, lightgray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, WhiteSmoke, lightgray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, WhiteSmoke, lightgray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, WhiteSmoke, gray); /* Standard syntax (must be last) */
}

div.vdesc
{
    border: 0px
    width: 250px;
}



.vendorff
{
   border:solid 2px black;
   width: 250px;
   vertical-align: top;
   background-color: white;
   padding: 0px;
   margin: 0px;
}

.vimage
{
  width: 125px;
  display:block;
  margin: 0 auto;
  
}

/* Used for the hover on the performer grid */
span.perfhover
{
  border-bottom: background: white;
  z-index: 1;
  position: relative;
}
span.perfhover:hover
{
  text-decoration: none;
  background: #ffffff;
  z-index: 6;
}
span.perfhover span
{
  position: absolute;
  left: -99999px;
  margin: 20px 0 0 0px;
  padding: 3px 3px 3px 3px;
  border-style:solid;
  border-color:black;
  border-width:1px;
  z-index: 6;
}
/*
span.perfhover span
{
  position: absolute;
  left: -9999px;
  margin: 4px 0 0 0px;
  padding: 3px 3px 3px 3px; 
  border-style:solid;
  border-color:black;
  border-width:1px;
}
*/
span.perfhover:hover span
{
  left: -200px;
  top: 20px;
  width: 500px;
  margin: 20px 0 0 170px;
  background: #ffffff;
  z-index:6;
} 


td.title
{
  border: solid 1px black; 
  width: 20%;
  padding: 2px;
}

td.describe
{
  border:solid 1px black; 
  width: 40%;
  padding: 2px;
}

.helptext
{
  font-style: italic;
  color: grey;
}

.listblock
{
  padding-right: 20px;
  padding-left: 20px;
}


.listheader
{
  font-family: "TwentiethCenturyPoster";
  font-size: 30px;
  color: #333333;
}

.listsubheader
{
  font-family: Lucida Grande,Tahoma,Verdana,sans-serif;
  font-size: 20px;
  color: #333333;
}

.listdetails
{
}
.listlabel
{
 font-weight: bold;
}
.listdesc
{
  padding-top: 10px;
  padding-left: 30px;
  color: #000;
  font-size: 11px;
  font-family: Lucida Grande,Tahoma,Verdana,sans-serif;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  letter-spacing: normal;	
}
.listline
{
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  width: 90%
}
  
.listline:after
{
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}


/*Schedule detail view*/
.sched_block
{
    margin: 10px;
    width: 100%;
}
.sched_desc
{
  padding-top: 10px;
  align:left;
  width:70%;
  display: inline-block;
  vertical-align: top;
}
.sched_sidebar
{
  width:27%;
  align: right;
  display: inline-block;
}
.sched_times
{
  border-style: double;
  background: #C3BDBF;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
}
.bio_block
{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
.sched_detail_title
{
  color: #333333;
  font-family: TwentiethCenturyPoster;
  font-size: 30px;
}
.sched_detail
{
 font-weight: bold;
}
.sched_length
{
  
}
.sched_details
{
}

.ticket
{
  margin-left: 10px;
  font-weight: normal;
}
.conf_tickets
{
  font-weight: bold;
}
.ticket_link
{
  
}
.ticket_list
{
  
}
.ticket_list_item
{
  margin-left: 15px;
}
.ticket_name
{
 font-weight: bold;
}
.sched_bio_image
{
  width: 300px;
  margin: 3px;
  display: inline-block;
}
div.performer
{
}
.gbe_no_pic
{
  width: 50px;
  height: 20px;
  display: inline-block;
  margin: 2px;
}
.gbe_thumb_block
{
  width: 50px;
  max-height: 75px;
  display: inline-block;
  margin: 2px;
}
.gbe_thumbnail
{
  width: 100%;
  height: auto;
}
.performer_text
{
  display: inline-block;
  width: 190px;
  vertical-align: middle;
  word-wrap:break-word;
}
.bio_image_block
{
  width: 28%;
  text-align:right;
  display: inline-block;
}
.bio_words
{
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.bio_name
{
  margin: 10px 0px;
}

table.events-table
{
    border:1px solid;
    
}

table.events-table th
{
    border:1px solid;
    text-align: left;
}

table.events-table td
{
    border:1px solid;
}

tr.event_edit_row
{
  vertical-align: top;
} 

tr.event_opp_row
{
  vertical-align: top;
} 

table.event_opps  tr.event_opp_row:nth-child(even)
{
  background-color: #CCC;
} 

table.event_opps  tr.event_opp_row:nth-child(odd)
{
  background-color: #EEE;
} 

tr.changed
{
  background-color: #BA8E70;
  vertical-align: top;
}

tr.blank_row
{
  background-color: #D0D0D0 ;
}


div.gbe-alert 
{
    background-color: rgba(241, 221, 91, 01);
}



/* landing page layouts
    taken from:  http://matthewjamestaylor.com/blog/perfect-3-column.htm */

/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
}
.threecol .colmid {
	right:33%;			/* width of the right column */
}
.threecol .colleft {
	right:33%;			/* width of the middle column */
}
.threecol .col1 {
	width:31%;			/* width of center column content (column width minus padding on either side) */
	left:102%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:31%;			/* Width of left column content (column width minus padding on either side) */
	left:36%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:30%;			/* Width of right column content (column width minus padding on either side) */
	left:73%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}

/* can remove above when we get rid of all 3 column templates in the old way, below is a nicer
 * boostrap way that lets us revert to tabs when the screen size is small */
/* small device */
/* --------------- Responsive Fixes --------------- */

.three-column-container {
  padding-right: 0px;
  padding-left: 0px;
  width:inherit
}

/* small device */
@media (max-width: 767px) {
  .device-big {
    display: none;
  }
  .device-small {
    display: block;
  }
}

.device-small > li:hover {
  border-bottom: 4px solid #C78785;
}

.device-small > li.active {
  border-bottom: 4px solid #8e0e0a;;
  position: relative;
}

.device-small > li > a {
  color: black;
}
  
.device-small > li.active > a {
  background-color: inherit;
}

.device-small > li.active > a:hover {
  background-color: inherit;
}

.device-small > li.active > a > li:hover {
  background-color: inherit;
}

/* big device */
@media only screen and (min-width : 768px) {
  .device-big, .tab-content > .tab-pane {
    display: block;
  }
  .device-small {
    display: none;
  }
  .tab-content > .tab-pane {
    display: block;
  }
}
/* --------------- / Responsive Fixes --------------- */


.landing_box{
	border: 1px solid black;
        padding: 10px;
}

/* Landing page, center blocks */

div.landing_box>div.schedule_section> div.event {
  /* set line-height here */
}

div.landing_box>div.ticket_section > div.ticket {
  /* set line-height here */
}

/* Landing page, right-column blocks */
div.sidebar>div.sidebar-text {
    border: solid;
    border-color: #C3BDBF;
    padding: 18px;
    margin-bottom: 10px;
}

div.sidebar>div.act_section {
    background-color:#C3BDBF;
    padding-left:5px;
    padding-top:5px;
}

div.bid_review_section{
    margin-top: 10px;
    background-color:#C3BDBF;
    padding-left:5px;
    padding-top:5px;
}

div.sidebar>div.class_section {
    margin-top: 10px;
    background-color:#E3DDDF;
    padding-left:5px;
    padding-top:5px;
}

div.sidebar>div.performer_section {
    background-color:#E3DDDF;
    padding-left:5px;
    padding-top:5px;
}


div.sidebar>div.show_section {
    margin-top: 10px;
    background-color:#E3DDDF;
    padding-left:5px;
    padding-top:5px;
}


div.sidebar>div.volunteer_section {
    margin-top: 10px;
    background-color:#C3BDBF;
    padding-left:5px;
    padding-top:5px;
}

div.sidebar>div.costume_section {
    margin-top: 10px;
    background-color:#E3DDDF;
    padding-left:5px;
    padding-top:5px;
}

div.sidebar>div.vendor_section {
    margin-top: 10px;
    background-color:#C3BDBF;
    padding-left:5px;
    padding-top:5px;
}

.filer_image.right {
  float: right;
}


.filer_image.left {
  float: left;
}

table.gbe_table {
  width: 100%;
}

td.form_label {
  width: 30%;
}

td.form_label>label {
  font-weight: normal;
}

td.form_field {
  width: 60%;
  padding: 5px;
}

td.form_field.long_choice > ul 
{
  border-top: 1px solid black;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

ul.long_choice
{
  border-top: 1px solid black;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

td.form_field > ul 
{
  padding: 5px 0px;
}

td.form_field.long_choice > ul > li
{
  width: 250px;
  height: 20px;
}

td.form_field > ul > li
{
  list-style-type: none;
}

.formtitle
{
  font-family: "TwentiethCenturyPoster";
  font-size: 20px;
  color: black;
}

input#id_num_volunteers, input#id_new_opp-num_volunteers
{
  width: 40px
}

input#id_duration, input#id_new_opp-duration
{
  width: 70px
}

span.opps-errors > ul > li
{
  list-style-type: none;
  color: red;
}

span.opps-errors > ul 
{
  padding: 0px;
}

.calendar_table .cal_body TH
{
  width: 80px;
}