{% extends 'base.tmpl' %}

{% block title %}
  Send Email to Bidders
{% endblock %}

{% block head %}
 {% for email_form in email_forms %}
  {{ email_form.media }}
 {% endfor %}
{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Select Recipients</h3>
  </div>
  <div class="panel-body">
  <font color="red">
  {% if selection_form.errors %}
    <p style= "color:red"> There is an error on the form.</p>
  {% endif %}
  {{ selection_form.non_field_errors }}</font>
  <form class="form-inline" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row email-select">
      <div class="form-group col-md-6">
        {% if selection_form.conference.errors %}
          <font color="red">!&nbsp;&nbsp;
        {% endif %} 
        <label class="form-check-label" id="{{ selection_form.conference.name }}">
          {{ selection_form.conference.label }}:&nbsp;&nbsp;{{ selection_form.conference }}
        {% if selection_form.conference.errors %}
          {{ selection_form.conference.errors }}</font>
        {% endif %}
        </label>
      </div>
      <div class="form-group col-md-6">
        {% if selection_form.bid_type.errors %}
          <font color="red">!&nbsp;&nbsp;
        {% endif %} 
         <label class="form-check-label" id="{{ selection_form.bid_type.name }}">
          {{ selection_form.bid_type.label }}:&nbsp;&nbsp;{{ selection_form.bid_type }}
        {% if selection_form.bid_type.errors %}
          {{ selection_form.bid_type.errors }}</font>
        {% endif %}
         </label>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-2 col-xs-12">
        <label class="form-check-label" id="{{ selection_form.state.name }}">
          {% if selection_form.state.errors %}
            <font color="red">!&nbsp;&nbsp;
          {% endif %}
          {{ selection_form.state.label }}:&nbsp;&nbsp;</label></div>
          {% if selection_form.state.errors %}
            </font>
          {% endif %}
      <div class="form-group col-md-9 col-xs-12">
      {% for checkbox in selection_form.state %}
        <label class="checkbox-inline" id="{{ checkbox.id_for_label }}">
          {{ checkbox.tag }}
          {{ field.label_tag }}
            {{ checkbox.choice_label }}
        </label>{% endfor %}
        {% if selection_form.state.errors %}
          {{ selection_form.state.errors }}</font>
        {% endif %}
      </div>
      <div class="form-group col-md-1 col-xs-12">
         <input type="submit" class="email-submit" name="filter" value="Filter">
      </div></div>
    </form>
  </div>
</div>
{% if email_forms %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Send Email</h3>
  </div>
  <div class="panel-body">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#to_list">Recipients...</a>
            </h4>
          </div>
          <div id="to_list" class="panel-collapse collapse">
            <div class="panel-body">
              {% for email, display_name in to_list.items %}
                {{display_name}} &lt;{{email}}&gt;;
              {% endfor %}</div>
          </div>
        </div>
      </div>

    <form action="" method="post" enctype="multipart/form-data"> 
      {% include "form_table_wrapper.tmpl" with forms=email_forms %}
      <input type="submit" class="email-submit" name="send" value="Send">
    </form>
  </div>
</div>
{% endif %}
{% endblock %}
