  <table style="border: 1px solid black; padding: 2px; border-collapse:collapse;">
  <tr style="background-color: rgb(221, 221, 221);;">
    <th>Schedule Item</th>
    <th>Role</th>
    <th>Location</th>
    <th>Time</th>
  </tr>
  {% for booking in bookings %}
  <tr>
    <td>
      {{ booking.event }}</td>
    <td>{{booking.role}} </td>    
    <td>{{booking.event.location}} </td>    
    <td>{{booking.event.starttime|date:"g:i A"}}</td>
  </tr>
  {% endfor %}

  </table>