  <h3>{{ badge_name }}'s Schedule {% if day %}for {{ day}}{% endif %}</h3>
  <i>Welcome!  Here's a schedule for your participation in the expo!
  Keep in mind that some times (like rehearsals) are generalities and that late
  shifts in class schedules could not be printed.</i><br><br>
  
  <table class='sched-table'>
  <tr class='sched-header'>
    <th class='sched-header'>Schedule Item</th>
    <th class='sched-header'>Role</th>
    <th class='sched-header'>Location</th>
    <th class='sched-header'>Day</th>
    <th class='sched-header'>Time</th>
  {% for booking in bookings %}
  <tr class='sched-table {% if booking.role == 'Interested' %}interested-sched{% else %}dedicated-sched{% endif %}'>
    <td class='sched-table'>{{ booking.event }}</td>
    <td class='sched-table'>{{booking.role}} </td>    
    <td class='sched-table'>{{booking.event.location}} </td>    
    <td class='sched-table'>{{booking.event.starttime.date}} </td>
    <td class='sched-table'>{{booking.event.starttime.time}} </td>
  </tr>
  {% endfor %}

  </table>
<br>